body.page-template-3d-university {

	section.about {
		.section-header {
			text-align: left;
			padding-bottom: 30px;
		}

		.tab-links {
			justify-content: flex-start;
			padding-bottom: 30px;

			a {
				white-space: nowrap;
			}
		}	

		.tab {
			.copy {
				color: $charcoal;
			}
		}	
	}

	section.learn-more {
		padding: 90px 0 130px 0;

		.section-header {
			padding-bottom: 30px;
			text-align: left;
		}

		.features {

			.feature {
				background: $light-purple;
				color: $white;
				@include aspect-ratio(1, 1);
				border-radius: 50%;
				max-width: 300px;
				width: 100%;
				margin: 0 auto;

				.feature-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
				}


				.headline {
					max-width: 300px;
					margin: 0 auto;
					padding: 20px 40px 0 40px;
					text-align: center;

					@include tablet-portrait {
						padding: 20px 25px 0 25px;
					}
				}
			}
		}
	}

	section.get-involved {
		.section-header {
			text-align: left;
			padding-bottom: 30px;
		}

		.copy {
			p {
				color: $charcoal;
			}
			
			a {
				color: $light-purple;
				font-weight: bold;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

}