.posts {

	article.blog {
		border: 1px solid $light-gray;
		border-bottom: 8px solid $dark-purple;

		@include tablet-portrait {
			&:nth-of-type(4n + 4) {
				grid-column: 1 / span 3;

				a {
					display: grid;
					grid-template-columns: 2fr 1fr;

				}
			}
		}


		.photo {
			@include aspect-ratio(16, 9);

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {
			padding: 40px 25px;
			flex: 1;
			margin-bottom: auto;

			.headline {
				h4 {
					font-size: 1.5em;
					font-weight: bold;

					@include tablet-landscape {
						font-size: 1.875em;
					}
				}
			}

			.meta {
				padding: 25px 0;

				h5 {
					font-weight: bold;
					color: $purple;
					font-size: 1.125em;
					transition: all 0.2s ease-in;

					@include tablet-landscape {
						font-size: 1.25em;
					}
				}
			}

			.copy {
				p {
					color: $mid-gray;
					transition: all 0.2s ease-in;
				}
			}
		}


		& > a {
			transition: all 0.35s ease-in;
			display: block;
			min-height: 100%;

			&:hover {
				transform: scale(1.05);
				background: $dark-purple;
				box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

				.info {
					* {
						color: $white !important;
					}
				}

			}
		}

	}


	.alm-btn-wrap {
		padding: 50px 0 0 0;

		.alm-load-more-btn {
			display: inline-block;
			border-radius: 5px;
			padding: 15px 30px 12px 30px;
			font-weight: 500;
			letter-spacing: 0.02em;
			background: $light-purple;
			color: $white;
			height: auto;
			line-height: 1em;
			font-size: 1.25em;

			&:hover {
				background: $purple;
			}

			&.done {
				background: $light-purple;
			}
		}
	}


}


body.blog,
body.category,
body.single-post,
body.post-type-archive-news,
body.tax-news_type {

	.filters {
		padding-bottom: 25px;
		display: flex;
		justify-content: flex-end;
		width: 100%;

		.select-wrapper {
			width: 100%;

			@include mobile-landscape {
				width: calc(50% - 20px);
			}

			@include tablet-portrait {
				width: calc(33.3333% - 25px);
			}
			

			&:after {
				content: '▾';
				display: block;
				position: absolute;
				right: 20px;
				top: 25px;
				font-size: 0.75em;
				color: $mid-gray;
				z-index: 0;
			}
		}

		select {
			appearance: none;
			padding: 13px 20px 7px 20px;
			border: 1px solid #d5d5d5;
			background: transparent;
			border-radius: 6px;
			font-family: $sofia;
			font-size: 1.25em;
			color: $mid-gray;
			height: 60px;
			margin: 0;
			width: 100%;
			z-index: 2;


			&:focus,
			&:active {
				outline: none;
			}


		}
	}

}


body.single-post {

	section.main {
		.wrapper {
			max-width: 790px;
		}
	}

	section.article-header {
		.headline {
			h2 {
				font-size: 1.875em;
				line-height: 1.25em;
				font-weight: bold;

				@include tablet-portrait {
					font-size: 2.5em;
				}

			}
		}

		.meta {
			padding: 25px 0;

			h5 {
				font-weight: bold;
				color: $purple;
				font-size: 1.125em;
				transition: all 0.2s ease-in;

				@include tablet-landscape {
					font-size: 1.25em;
				}
			}
		}

		.featured-image {
			img {
				width: 100%;
			}
		}

		.authors {
			padding-top: 25px;
			display: flex;
			align-items: center;
			flex-wrap: wrap;

			.author {
				display: flex;
				align-items: center;
				margin: 0 25px 25px 0;


				.photo {
					padding-right: 10px;

					@include tablet-portrait {
						padding-right: 15px;
					}

					img {
						max-width: 40px;
						border-radius: 50%;

						@include tablet-portrait {
							max-width: 70px;
						}
					}
				}

				.name {
					h5 {
						color: $light-purple;
						font-size: 0.875em;

						@include tablet-portrait {
							font-size: 1em;
						}
					}
				}
			}
		}


		.share {
			display: flex;
			justify-content: flex-start;
			align-items: center;

			span.label {
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: $purple;
				transform: translateY(3px);
			}

			.link {
				padding-left: 5px;

				a {
					width: 36px;
					height: 36px;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						width: 24px;
						height: 20px;
					}
				}


				&.twitter {
					transform: translateY(1px);
				}

				&.linkedin {
					transform: translateY(-1px);

				}
			}
		}
	}

	section.article-body {
		padding: 50px 0;

		& > * {
			margin-bottom: 25px;
		}

		h3 {
			font-weight: bold;;
			font-size: 1.875em;
			margin-bottom: 15px;
			padding-top: 25px;
		}

		p {
			font-size: 1.125rem;
			line-height: 1.3888em;
			color: $charcoal;
		}

		a {
			color: $purple;
			font-weight: bold;
		}

		strong {
			color: $slate;
		}

		ol:not(.EnlighterJS) {
			counter-reset: li;

			li {
				counter-increment: li;

				&:before {
				  content: '.' counter(li) ; 
				  color: $black;
				  font-weight: bold;
				  display: inline-block;
				  width: 1.5em;
				  margin-left: -1em;
				  margin-right: 0.5em;
				  text-align: right;
				  direction: rtl;		
				}

			}
		}

		ul:not(.EnlighterJS) {
			li {
				&:before {
				  content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
				  color: $black; /* Change the color */
				  font-weight: bold; /* If you want it to be bold */
				  display: inline-block; /* Needed to add space between the bullet and the text */
				  width: 1em; /* Also needed for space (tweak if needed) */
				  margin-left: -1em; /* Also needed for space (tweak if needed) */					
				}

			}
		}

		ol:not(.EnlighterJS),
		ul:not(.EnlighterJS)  {
			margin-left: 2rem;
		
			li {
				font-size: 1.125rem;
				color: $mid-gray;

				span {
					color: $charcoal;
					font-size: 1.125em;
				}
			}
		}

		figure {
			width: 100% !important;
		}

		.wp-caption-text {
			color: $slate;
			line-height: 1.3888em;
			font-size: 0.875rem;
			font-weight: bold;
		}

		img {
			width: auto !important;
			height: auto !important;
		}

		.ql-img-inline-formula {
			display: inline;
			width: auto;
		}
	}

	section.article-footer {
		border-top: 1px solid $mid-gray;
		padding: 20px 0;

		.categories {
			display: flex;
			flex-wrap: wrap;

			a {
			    background: $white;
			    border: 1px solid #D5D5D5;
			    border-radius: 6px;
			    padding: 15px 15px 12px 15px;
			    text-align: center;
			    font-size: 1em;
			    color: $light-purple;
			    margin-right: 3px;
			    margin-bottom: 5px;
			    display: inline-block;

			    @include tablet-portrait {
			    	font-size: 1.25em;
			    }

			    &:hover {
			    	background: $light-purple;
			    	color: $white;
			    	border: 1px solid $light-purple;
			    }
			}
		}
	}

	section.comments-section {
		background: #F3F0F0;
		padding: 70px 0;

		.wrapper {
			max-width: 810px;
		}

		.comment-form-url {
			display: none;
		}

		.comment-reply-title,
		#reply-title {
			font-size: 1.5em;
			line-height: 1.1666em;
			font-weight: bold;
			padding-bottom: 10px;

			@include tablet-portrait {
				font-size: 2em;
			}

			@include tablet-landscape {
				font-size: 3em;
			}

			small {
				font-size: 0.4em;
				a {
					color: $light-purple;
					text-decoration: underline;
				}
			}
		}

		.comment-reply-title {
			padding-bottom: 25px;
		}


		.comments-inner {
			.comment {
				background-color: #fff;
				color: #8A8A8A;
				border: 1px solid #d0d0d0;
				padding: 2.0rem;
				margin-bottom: 2.0rem;

				a {
					color: #8A8A8A;
				}

				&-meta {

					b.fn {
						padding-left: 10px;
						color: $slate;
					}

					&data {
						padding-left: 50px;
						transform: translateY(-14px);
					}

					.says {
						display: none;
					}
				}

				&-author {
					display: flex;
				}

				&-content {
					padding-top: 10px;

					p {
						line-height: 1.75em;

						& + p {
							padding-top: 20px;
						}
					}
				}

				.reply {
					position: absolute;
					top: 0;
					right: 0;

					a {
						color: $slate;
					}
					
				}
			}

		}

		.comment-respond {
			padding-top: 25px;
		}

		#commentform {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 20px;

			span.note,
			.comment-form-comment,
			.form-submit {
				grid-column: 1 / span 2;
			}

			span.note {
				color: #8A8A8A;
				font-weight: 100;
			}

			label {
				display: block;
				color: #5F5F5F;
				padding-bottom: 5px;
				font-size: 1.125rem;
			}

			textarea,
			input[type='text'],
			input[type='email'] {
				width: 100%;
				color: #8A8A8A;
				padding: 13px 10px 10px 10px;
				border: 1px solid #cacaca;
				background-color: #fefefe;
				box-shadow: inset 0 1px 2px rgba(10,10,10,.1);

				&:focus,
				&:active {
					outline: none;
				}
			}

			textarea {
				padding: 20px;
				min-height: 300px;
			}

			input[type="submit"] {
				display: block;
				border-radius: 5px;
				padding: 15px 30px 12px 30px;
				font-weight: 500;
				font-size: 1.25rem;
				letter-spacing: 0.02em;
				background: $light-purple;
				color: $white;
				border: none;
			}
		}
	}

}