body.page-template-culture {

	section.values {
		padding: 0 0 100px 0;

		.value {
			.info {
				padding-top: 30px;

				.headline {
					padding-bottom: 25px;
				}
			}
		}

		& + section.leaders {
			padding-top: 0;
		}

	}

	section.leaders {
		padding-bottom: 50px;
		
		.person {
				display: flex;
				flex-direction: column;


			.info {
				flex: 1;
				display: flex;
				flex-direction: column;
				padding-left: 10px;
				padding-right: 10px;

				@include tablet-portrait {
					padding-left: 20px;
					padding-right: 20px;
				}

				.headline {
					h4 {
						color: $slate;
					}
				}


				.copy.quote {
					margin-top: 0;
				}
			}

			.cta {
				margin-top: auto;

			}
		}
	}
	


}