body.post-type-archive-events {

	.tabs-container {
		min-height: 60vh;

		@include tablet-portrait {
			min-height: 100vh;
		}

		.tab-links {
			padding-bottom: 50px;

			@include tablet-landscape {
				padding-bottom: 100px;
			}
		}
	}

	.no-results {
		p {
			font-weight: bold;
		}
	}
	

	article.event {
		display: flex;
		align-items: center;
		justify-content: space-between;

		& + article.event {
			margin-top: 35px;
		}

		&:nth-child(even) {
			background: #F2F0F0;

		}

		.photo {
			@include aspect-ratio(1, 1);
			width: calc(33.3333% - 20px);


			@include tablet-portrait {
				width: calc(25% - 20px);
				max-width: 200px;
			}


			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.info {
			width: calc(66.6666% - 20px);
			margin-right: auto;
			margin-left: 40px;
			padding: 15px 15px 15px 0;

			@include tablet-portrait {
				width: calc(75% - 20px);
			}


			.meta {
				padding-top: 10px;

				h4 {
					color: $light-purple;
					font-weight: bold;
					font-size: 1em;

					@include tablet-portrait {
						font-size: 1.125em;
					}
				}
			}
		}
	}

	.alm-btn-wrap {
		padding: 50px 0 0 0;

		.alm-load-more-btn {
			display: inline-block;
			border-radius: 5px;
			padding: 15px 30px 12px 30px;
			font-weight: 500;
			letter-spacing: 0.02em;
			background: $light-purple;
			color: $white;
			height: auto;
			line-height: 1em;
			font-size: 1.25em;

			&:hover {
				background: $purple;
			}

			&.done {
				background: $light-purple;
			}
		}
	}



}


body.single-events {
	section.main > .wrapper {
		max-width: 800px;
	}


	section.event-header {
		padding-bottom: 50px;

		.headline {
			padding-bottom: 10px;

			h2 {
				font-weight: bold;
				font-size: 2em;

				@include tablet-landscape {
					font-size: 3em;
				}
			}
		}

		.meta {
			padding-bottom: 20px;
			h4 {
				color: $light-purple;
				font-weight: bold;
				font-size: 1em;

				@include tablet-portrait {
					font-size: 1.25em;
				}
			}
		}
	}

	section.event-body {

		p + p {
			padding-top: 25px;
		}

		.cta {
			padding-top: 50px;
		}
	}

	section.event-footer {
		margin-top: 50px;
		border-top: 1px solid $light-gray;
		padding-top: 50px;

		.back {
			.cta {
				display: flex;
				justify-content: center;
			}
		}
	}



}