.site-footer {

	section.connect {
		padding: 40px 0;
		background: $mid-purple;
		color: $white;

		.wrapper {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
		}



		.footer-logo {
			width: 100%;
			
			@include tablet-portrait {
				width: 40%;
			}

			a {
				display: block;
				max-width: 200px;
			
				img {
					width: 100%;
				}
			}
		}

		.ctas {
			display: flex;
			align-items: center;
			padding-top: 25px;
			width: 100%;

			@include tablet-portrait {
				width: 60%;
				padding-top: 0;
				justify-content: flex-end;
			}

			.cta {
				& + .cta {
					padding-left: 20px;
				}

				.btn {
					background: $light-purple;
					font-size: 1em;

					@include tablet-landscape {
						font-size: 1.25em;
					}

					&:hover {
						background: $white;
						color: $light-purple;
					}					
				}	
			}
		}

		.social {
			display: flex;
			align-items: center;
			width: 100%;
			border-top: 1px solid $light-purple;
			padding-top: 25px;
			margin-top: 25px;

			@include tablet-portrait {
				justify-content: flex-end;
			}

			.headline {
				@include tablet-portrait {
					padding-right: 10px;

					h3 {
						font-size: 1.875em;
					}
				}
			}

			.links {
				display: flex;
				align-items: center;

				.link {
					max-width: 38px;
					margin-left: 10px;

					a {
						display: block;

						img {
							width: 100%;
						}
					}
				}
			}
		}
	}

	section.copyright {
		padding: 30px 0;
		background: $darkest-purple;
		color: $white;

		.copy {
			display: flex;
			justify-content: center;

		}


	}
	

}