.site-header {
	padding: 10px 0;
	position: absolute;
	top: 0;
	z-index: 20;
	width: 100%;

	@include tablet-landscape {
		padding: 0;
	}

	.wrapper {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}


	.site-logo {
		width: 200px;
	}


	.desktop-nav {
		display: none;

		@include tablet-landscape {
			display: flex;
			align-items: center;
			margin-left: auto;
			padding-right: 20px;
			padding-top: 20px;

			.menu {
				display: flex;
				justify-content: space-between;

				& > .menu-item {
					padding-bottom: 20px;

					a {
						color: $white;
						font-weight: bold;
						font-size: 1em;
						border-bottom: 4px solid transparent;

						&:hover {
							border-bottom: 4px solid $white;
						}

						@include desktop {
							font-size: 1.125em;
						}

					}

					& + .menu-item {
						margin-left: 20px;
						
						@include desktop {
							margin-left: 25px; 
						}
					}
				}

				.sub-menu {
					display: none;
					position: absolute;
					z-index: -1;
				}

				& > .menu-item-has-children.hover {
					& > a {
						border-bottom: 4px solid $white;
					}

					.sub-menu {
						display: block;
						z-index: 1000;
						background: $white;
						box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
						padding: 20px;
						width: 245px;
						transform: translateY(10px);

						.menu-item {

							& + .menu-item {
								padding-top: 20px;
							}

							a {
								font-size: 1em;
								font-weight: bold;
								color: $black;

								&:hover {
									color: $green;
								}
							}
						}
					}
				}
			}

			.search-icon {
				padding-left: 20px;
				display: flex;
				align-items: center;
				padding-bottom: 18px;

				@include desktop {
					padding-left: 25px;
				}


				a {
					display: block;

					img {
						display: block;
						width: 100%;
						max-width: 24px;
					}
				}
			}			
		}

		@include desktop {
			padding-right: 35px;
		}
	}

	.ctas {
		display: none;

		@include tablet-landscape {
			display: flex;
			align-items: center;
		}

		.cta {
			& + .cta {
				padding-left: 15px;
			}

			.btn {

				@include tablet-landscape {
					font-size: 0.875em;
				}

				@include desktop {
					font-size: 1em;
					padding: 15px 30px 12px 30px;
				}

				&-purple {
					background: $dark-purple;
				}
			}
		}
	}

	.hamburger {
		@include tablet-landscape {
			display: none;
		}

		.nav-trigger {
			display: block;
			width: 35px;
		    cursor: pointer;
		    padding: 8px 0;
		    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
		    z-index: 10001;

			.patty {
			    width: 35px;
			    height: 3px;
			    background: $white;
			    border-radius: 2px;
			    transition: all 0.3s;
			    margin-left: auto;

				&:after, &:before {
				    content: '';
				    display: block;
				    width: 35px;
				    height: 3px;
				    background: $white;
				    position: absolute;
				    z-index: 1;
				    transition: all 0.3s;
				    border-radius: 2px;
				}

				&:before {
				    top: -8px;
				}

				&:after {
				    top: 8px;
				}
			}
		}
	}
}

@include tablet-landscape {

	body.sticky {

		.site-header {
			position: fixed;
			background: $light-purple;
			z-index: 5000;
		}
	}

}

body.blog .nav-blog > a,
body.single-post .nav-blog > a,
body.category .nav-blog > a,

body.page-template-software .nav-teams > a,
body.page-template-data-science .nav-teams > a,
body.page-template-infrastructure-and-platforms .nav-teams > a,

body.page-template-tech-radar .nav-initiatives > a,
body.page-template-research .nav-initiatives > a,
body.page-template-open-source .nav-initiatives > a,
body.page-template-3d-university .nav-initiatives > a,
body.page-template-wayfair-next .nav-initiatives > a,

body.page-template-culture .nav-culture > a,  
body.post-type-archive-events .nav-events > a,
body.post-type-archive-news .nav-news > a {
	border-bottom: 4px solid $white !important;
}

body.page-template-software .nav-software > a,
body.page-template-data-science .nav-data-science > a,
body.page-template-infrastructure-and-platforms .nav-infrastructure-platforms > a,

body.page-template-tech-radar .nav-tech-radar > a,
body.page-template-research .nav-wayfair-research > a,
body.page-template-open-source .nav-open-source > a,
body.page-template-3d-university .nav-3d-university > a,
body.page-template-wayfair-next .nav-wayfair-next > a {
	color: $green !important;
}
