body.home {

	section.about {
		padding: 70px 0;

		.wrapper {
			max-width: 990px;
		}
	}

	section.teams {
		.wrapper {
			padding: 0;
			max-width: 1440px;
		}

		.team {

			.photo {
				a {
					display: block;

					img {
						width: 100%;
					}
				}
			}			

			.info {
				padding: 0 25px 40px 25px;

				.info-wrapper {
					max-width: 480px;
					margin: 0 auto;

					@include tablet-portrait {
						max-width: 385px;
					}
				}				

				.headline {
					padding-bottom: 5px;
				}

				.copy {
					p {
						color: $charcoal;
					}
				}
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&:nth-child(odd) {
					.photo {
						order: -1;
					}

					.info {
						padding: 0 25px;
						margin-right: auto;
					}
				}

				&:nth-child(even) {
					.info {
						padding-left: 25px;
					}

					.photo {
						margin-left: auto;
					}
				}

				.photo,
				.info {
					width: calc(50%);
					padding: 0;
				}
			}



			& + .team {
				padding-top: 70px;
			}

		}
	}



	section.values {
		padding: 120px 0;

		.value {
			.info {
				padding-top: 30px;

				.headline {
					padding-bottom: 25px;
				}
			}
		}

		.cta {
			display: flex;
			justify-content: center;
			padding-top: 50px;

			.btn {
				background: $light-purple;
			}
		}
	}

}