body.page-template-open-source {

	section.mission {
		text-align: center;
		padding-bottom: 70px;
		
		@include tablet-portrait {
			padding-bottom: 130px;
		}
		
		.wrapper {
			max-width: 880px;
		}
	}

	section.open-source-projects {
		padding: 70px 0;
		background: $off-white;

		@include tablet-portrait {
			padding: 130px 0;
		}

		.filters {
			padding-bottom: 70px;

			@include tablet-portrait {
				padding-bottom: 130px;
			}

			&-wrapper {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-wrap: wrap;
			}

			a {
				color: $mid-gray;
				display: block;
				padding: 11px 12px 7px 12px;
				font-size: 0.9375em;
				margin-bottom: 10px;

				@include tablet-portrait {
					padding: 14px 15px 10px 15px;
					font-size: 1.125em;
					margin-bottom: 0;
				}

				&:hover {
					color: $purple;
				}

				&.active {
					background: $light-purple;
					color: $white;
					border-radius: 5px;

					&:hover {
						background: $purple;
						color: $white;
					}
				}

				& + a {
					margin-left: 10px;

					@include tablet-portrait {
						margin-left: 20px;
					}
				}
			}	
		}
	
		.three-col {
			grid-gap: 90px 50px;

			@include tablet-portrait {
				grid-gap: 130px 50px;
			}
		}

		.projects {


			.project {
				display: none;
				max-width: 320px;
				width: 100%;
				margin: 0 auto;

				&.active {
					display: block;
				}
				.icon {
					padding-bottom: 20px;
				}

				.copy {
					padding: 20px 0;

					p {
						color: $charcoal;
					}
				}

				.link {
					a {
						color: $light-purple;
						display: flex;
						align-items: center;
						font-weight: bold;
						font-size: 1.125em;

						&:after {
							display: block;
							content: '';
							width: 18px;
							height: 18px;
							background: url(images/external-link.png) no-repeat 0 0;
							margin-left: 10px;
						}
					}
				}
			}
		}


	}

	section.blog {
		padding-top: 70px;

		@include tablet-portrait {
			padding-top: 130px;
		}

		.section-header {
			text-align: left;
		}

		.cta {
			padding-top: 35px;
			justify-content: center;
		}
	}

}