body.page-template-research {

	section.what-we-do {
		.section-header {
			padding-bottom: 30px;
		}

		.deck {
			max-width: 880px;
			margin: 0 auto;
			text-align: center;

			p {
				color: $charcoal;
			}
		}
	}

	section.current-projects {
		padding: 90px 0 130px 0;

		.section-header {
			padding-bottom: 30px;
		}

		.deck {
			max-width: 880px;
			margin: 0 auto;
			text-align: center;

			p {
				color: $charcoal;
			}
		}

		.projects {
			padding-top: 50px;

			.project {
				background: $light-purple;
				color: $white;
				@include aspect-ratio(1, 1);
				border-radius: 50%;
				max-width: 300px;
				width: 100%;
				margin: 0 auto;

				.project-wrapper {
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					flex-wrap: wrap;
				}


				.headline {
					max-width: 300px;
					margin: 0 auto;
					padding: 20px 40px 0 40px;

					@include tablet-portrait {
						padding: 20px 25px 0 25px;
					}
				}
			}
		}
	}
	
	section.funding {
		.section-header {
			text-align: left;
			padding-bottom: 30px;
		}

		.tab-links {
			justify-content: flex-start;
			padding-bottom: 30px;

			a {
				white-space: nowrap;
			}
		}

		.tab {
			@include tablet-portrait {
				min-height: 40vh;
			}			

			& > * {
				margin-bottom: 25px;
			}

			p, li {
				font-size: 1.125em;
				line-height: 1.3888em;
				color: $charcoal;
			}

			a {
				color: $purple;
				font-weight: bold;
			}

			ol {
				list-style-type: decimal;
			}

			ul {
				list-style-type: disc;
			}

			ol, ul {
				margin-left: 12.5px;
			}
		}

		.inset {
			background: #FDF5FF;
			padding: 50px;

			.headline {

			}

			.copy {
				padding: 30px 0;

				p {
					color: $charcoal
				}

			}

			.cta {

			}
		}


	}

}