body.search {

	section.results {
		min-height: 70vh;
		padding: 70px 0;

		article {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;

			& + article {
				margin-top: 30px;
			}

			&:nth-child(even) {
				background-color: $off-white;
			}	


			.photo {
				width: 25%;
				a {
					display: block;
					img {
						width: auto !important;
						height: auto !important;
					}
				}
			}

			.info {
				width: 75%;
				padding: 25px;
				
				@include tablet-portrait {
					padding: 50px;
				}

				.copy {
					padding-top: 20px;
					p {
						color: $charcoal;
					}
				}				
			}


		}
	}

	&.search-no-results {
		height: 100vh;

		.site-header {
			background: $purple;
		}
	}

	section.no-results {
		background: $purple url(images/not-found.jpg) no-repeat center top;
		background-size: cover;
		min-height: 50vh;
		padding: 150px 0;

		@include tablet-portrait {
			min-height: 80vh;
			padding: 250px 0;
		}

		.info {
			text-align: center;

			.headline {
				padding-bottom: 10px;
				h1 {
					color: $white;
					font-weight: 900;
					font-size: 4em;
				}
			}

			.copy {
				p {
					color: $white;
					font-weight: 900;
					font-size: 1.25em;
					line-height: 1.25em;
				}
			}
		}

		.form {
			padding-top: 50px;
			max-width: 600px;
			width: 100%;
			margin: 0 auto;

			.search-query {
				height: 90px;
			    background-color: #fff;
			    border: none;
			    box-shadow: none;
			    border-radius: 100px;
			    padding: 20px 40px;
			    font-size: 1.875em;
			    color: #221924;
			    letter-spacing: 0;
			    text-align: left;
			    width: 100%;


			    @include placeholder {
			    	color: $mid-gray;
			    }

			    &:active,
			    &:focus {
			    	outline: none;
			    }
			}			
		}
	}
}