body.page-template-team {

	section.what-we-do {
		.copy {
			display: flex;
			align-items: center;			
		}		
	}

	section.workstreams {
		margin: 75px 0;
		background: $off-white;

		@include tablet-portrait {
			padding: 25px 0;
		}

		.slick-track {
			padding: 100px 0;
		}

		.slick-dots {
			bottom: -25px;
		}

		.workstream {
			margin: 0 50px;
			opacity: 0.5;
			transition: all 0.1s ease-in-out;
			transform: scale(0.875);

			&:focus,
			&:active {
				outline: none;
			}

			.icon {
				max-width: 240px;
				margin: 0 auto;

				img {
					width: 100%;
				}	
			}

			.info {
				padding-top: 25px;
				text-align: center;
				max-width: 600px;
				margin: 0 auto;
			
				.headline {
					padding-bottom: 10px;
				}

				.copy {
					opacity: 0;
					transition: all 0.1s ease-in-out;
				}
			}

			&.slick-current {
				opacity: 1;
				width: 150%;

				.copy {
					opacity: 1;
				}
			}

			&.slick-center {
				transform: scale(1.125);
				.info {
					.copy {
						p {
							font-size: 1.25rem;
						}
					}
				}
			}
		}
	}

	section.people {
		.section-header {
			text-align: left;
		}		
	}

	section.tech-stack {
		.wrapper {
			max-width: 800px;
		}

		.section-header {
			text-align: left;
		}

		.copy {
			text-align: left;

			p {
				color: $charcoal;

				& + p {
					padding-top: 25px;
				}

				@include purple-links;
			}
		}
	}

	section.what-we-do + section.tech-stack {
		padding-top: 75px;

		@include tablet-portrait {
			padding-top: 150px;
		}
	}

	section.blog {
		padding: 75px 0;

		@include tablet-portrait {
			padding: 150px 0;
		}


		.section-header {
			text-align: left;
		}

	}



	section.join-us {

		.two-col-headline-copy {
			justify-content: flex-start;

			@include tablet-portrait {
				.headline {
					width: calc(40% - 10px);
				}
				.copy {
					width: calc(60% - 10px);
				}
			}

			@include tablet-landscape {
				.headline {
					width: auto;
					padding-right: 50px;
				}

				.copy {
					width: auto;
				}
			}
		}

		.headline {


			h2 {
				font-size: 2em;

				@include tablet-portrait {
					font-size: 2.5em;
				}

				@include tablet-landscape {
					font-size: 3.25em;
				}

				@include desktop {
					font-size: 4em;
				}
			}
		}

		.copy {
			display: flex;
			align-items: center;


			.copy-wrapper {
				max-width: 480px;
			}

			p {
				font-size: 1.125em;
			}
		}

		.cta {
			display: flex;
			justify-content: flex-start;
			padding-top: 50px;
		}
	}

}