body.page-template-tech-radar {

	section.radar {
		a {
			display: block;
			position: relative;

			&:after {
				display: flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				color: $white;
				font-size: 2em;
				font-weight: bold;
				width: 100%;
				height: 100%;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				z-index: 10;
				transition: all 0.3s ease-in;
				background: rgba(0, 0, 0, 0);
			}

			&:hover {
				

				&:after {
					content: 'Click to View';
					background: rgba(120, 56, 132, 0.66);
					
				}

			}
		}
	}

	section.radar-description {
		padding-top: 70px;

		.copy {
			color: $charcoal;

			& > * {
				margin-bottom: 25px;

				+ h3 {
					padding-top: 20px;
				}
			}

			h3 {
				font-size: 1.5em;
				line-height: 1.1666em;
				font-weight: bold;
				color: $slate;

				@include tablet-portrait {
					font-size: 2em;
				}

				@include tablet-landscape {
					font-size: 2.5em;
				}
			}
		}
	}


}