body.page-template-wayfair-next {

	section.innovation {
		.wrapper {
			padding: 0;
			max-width: 1440px;
		}

		.section-header {
			padding-bottom: 30px;
		}

		.deck {
			margin: 0 auto;
			max-width: 880px;
			padding-bottom: 70px;
			text-align: center;

			p {
				color: $charcoal;
			}
		}

		.feature {

			.photo {
				a {
					display: block;

					img {
						width: 100%;
					}
				}
			}			

			.info {
				padding: 0 25px 40px 25px;

				.info-wrapper {
					max-width: 480px;
					margin: 0 auto;

					@include tablet-portrait {
						max-width: 385px;
					}
				}				

				.headline {
					padding-bottom: 5px;
				}

				.copy {
					p {
						color: $charcoal;
					}
				}
			}

			@include tablet-portrait {
				display: flex;
				justify-content: space-between;
				align-items: center;

				&:nth-child(odd) {
					.photo {
						order: -1;
					}

					.info {
						padding: 0 25px;
						margin-right: auto;
					}
				}

				&:nth-child(even) {
					.info {
						padding-left: 25px;
					}

					.photo {
						margin-left: auto;
					}
				}

				.photo,
				.info {
					width: calc(50%);
					padding: 0;
				}
			}



			& + .feature {
				padding-top: 70px;
			}

		}

		.video {
			padding: 140px 20px 0 20px;
		}
	}
}