body {
	background: $white;
}

.wrapper {
	@include wrapper-padding;
}

.cover {
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
}



section.main {
	min-height: 70vh;
	padding: 75px 0 100px 0;
}

.wayfair-profile {
	border: 1px solid $light-purple;
}



.two-col-headline-copy {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;



	.headline {
		display: flex;
		align-items: center;
		width: 100%;

		@include tablet-portrait {
			width: calc(33.3333% - 20px);
		}		

		h2 {
			font-weight: bold;
				font-size: 3em;
				line-height: 0.875em;

				@include tablet-portrait {
					font-size: 4em;
				}

				@include tablet-landscape {
					font-size: 5.375em;
				}
		}

	}

	.copy {
		width: 100%;
		margin-top: 20px;
		border-top: 3px solid $black;
		padding-top: 20px;

		@include tablet-portrait {
			width: calc(66.6666% - 20px);
			border-left: 3px solid $black;
			padding-left: 35px;
			margin-top: 0;
			border-top: none;
			padding-top: 0;

		}	

		p {
			color: $mid-gray;
		}

	}
}


.three-col {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px 40px;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
	}

	@include tablet-portrait {
		grid-template-columns: 1fr 1fr 1fr;
	}

	&.centered-features {
		text-align: center;

		.photo {
			img {
				width: 100%;
			}
		}

		.headline {
			padding: 30px 0 20px 0;
		}

		.copy {
			padding: 0 10px;
		}

	}

	&-center {
		text-align: center;

		.image, .photo, .icon {
			display: flex;
			justify-content: center;
		}
	}
}


.four-col {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 50px;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
	}

	@include tablet-portrait {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}

	&-center {
		text-align: center;

		.image, .photo, .icon {
			display: flex;
			justify-content: center;
		}
	}
}


.two-col-info {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 25px 40px;

	@include mobile-landscape {
		grid-template-columns: 1fr 1fr;
	}

	.info {
		text-align: center;

		.headline {
			padding: 30px 0 20px 0;
		}

		.copy {
			padding: 0 10px;
		}
	}
}