html, input, textarea {
	-webkit-font-smoothing: antialiased;
}
body {
	text-rendering: optimizeLegibility;
}

body, input, textarea, button {
	color: $slate;
	font: 400 100%/1 $sofia;
}

a {
	color: $slate;
	transition: all 0.3s ease-in-out;
}



.headline {

	&.page-title {
		h1 {
			font-size: 2.75em;
			line-height: 1.1666em;

			@include tablet-portrait {
				font-size: 3.5em;
			}

			@include tablet-landscape {
				font-size: 4.625em;
			}
		}
	}

	h3 {
		font-size: 1.5em;
		line-height: 1.1666em;
		font-weight: bold;

		@include tablet-portrait {
			font-size: 2em;
		}

		@include tablet-landscape {
			font-size: 2.5em;
		}
	}



	h4 {
		font-size: 1.125em;
		line-height: 1.1666em;
		font-weight: bold;

		@include tablet-portrait {
			font-size: 1.25em;
		}

		@include tablet-landscape {
			font-size: 1.5em;
		}
	}
}


.section-header {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 40px;
	text-align: center;

	@include tablet-landscape {
		padding-bottom: 70px;
	}

	h2 {
		width: 100%;
		font-weight: bold;
		font-size: 2em;

		@include tablet-portrait {
			font-size: 2.75em;
		}

		@include tablet-landscape {
			font-size: 3.5em;
		}
	}

	h5 {
		width: 100%;
		padding-top: 25px;
		font-size: 1.125em;
		color: $charcoal;

	}
}

.cta {
	display: flex;
	align-items: center;

	.btn {
		display: block;
		border-radius: 5px;
		padding: 15px 30px 12px 30px;
		font-weight: 500;
		letter-spacing: 0.02em;

		&-purple {
			background: $light-purple;
			color: $white;
		}

		&-white {
			background: $white;
			color: $purple;
		}
	}

}


.copy {

	&.p2 {
		p {
			font-size: 1.25em;
			line-height: 1.1666em;

			@include tablet-portrait {
				font-size: 1.375em;
			}

			@include tablet-landscape {
				font-size: 1.5em;
			}
		}
	}

	&.p3 {
		p {
			font-size: 1em;
			line-height: 1.5em;

			@include tablet-portrait {
				font-size: 0.875em;
			}

			@include tablet-landscape {
				font-size: 1em;
			}
		}

		&-18 {
			@include tablet-landscape {
				font-size: 1.125em;
			}
		}
	}

	&.p4 {
		p {
			font-size: 0.75em;
			line-height: 1.5em;

			@include tablet-portrait {
				font-size: 0.8125em;
			}
		}
	}

}