/* Colors
----------------------------------*/
$white: #fff;
$off-white: #fafafa;
$light-gray: #d9d9d9;
$mid-gray: #8A8A8A;
$charcoal: #5F5F5F;
$slate: #221924;
$black: #000;

$light-purple: #783883;
$purple: #57095D;
$mid-purple: #3D1846;
$dark-purple: #3E1946;
$darkest-purple: #2C1233;

$green: #117372;



/* Typography
----------------------------------*/
@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProRegular.woff2') format('woff2'),
        url('fonts/SofiaProRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/sofia_pro_bold-webfont.woff2') format('woff2'),
        url('fonts/sofia_pro_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaProRegular-Italic.woff2') format('woff2'),
        url('fonts/SofiaProRegular-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Sofia Pro';
    src: url('fonts/SofiaPro-BoldItalic.woff2') format('woff2'),
        url('fonts/SofiaPro-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

$sofia: 'Sofia Pro', serif;