@charset "UTF-8";
/*

    Theme Name: Wayfair Tech
    Theme URI: https://tech.wayfair.com/
    Author: Andrew Lovseth
    Author URI: http://www.andrewlovseth.com/
    Description: Version 1.0 of Wayfair Tech
    Version: 1.0

*/
/*

    ----------------------------------------------------------------------
                                01 Global
    ----------------------------------------------------------------------

*/
/* Colors
----------------------------------*/
/* Typography
----------------------------------*/
@font-face {
  font-family: 'Sofia Pro';
  src: url("fonts/SofiaProRegular.woff2") format("woff2"), url("fonts/SofiaProRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("fonts/sofia_pro_bold-webfont.woff2") format("woff2"), url("fonts/sofia_pro_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("fonts/SofiaProRegular-Italic.woff2") format("woff2"), url("fonts/SofiaProRegular-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic; }

@font-face {
  font-family: 'Sofia Pro';
  src: url("fonts/SofiaPro-BoldItalic.woff2") format("woff2"), url("fonts/SofiaPro-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic; }

/* Media Queries
----------------------------------*/
/* HTML5 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

/* HTML & BODY */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif; }

body {
  margin: 0;
  font-size: 1em;
  line-height: 1.4; }

/* Links */
a {
  text-decoration: none; }

a:focus {
  outline: none; }

a:hover, a:active {
  outline: none; }

/* Typography */
abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 600; }

i, em {
  font-style: italic; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  font-weight: normal;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0; }

/* Lists */
dd {
  margin: 0 0 0 40px; }

ul, ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* Embedded Content */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

/* Figure */
figure {
  margin: 0; }

/* Forms */
form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* Absolute Positioning */
div, article, section, header, footer, nav, figure, li {
  position: relative; }

/* Selection  */
::-moz-selection {
  background: #783883;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #783883;
  color: #fff;
  text-shadow: none; }

/* Clearfix */
.clearfix:before, .clearfix:after {
  content: "";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

/* Border-Box */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

/* Image replacement */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 100%; }

/* Responsive Image */
img {
  display: block;
  max-width: 100%; }

html, input, textarea {
  -webkit-font-smoothing: antialiased; }

body {
  text-rendering: optimizeLegibility; }

body, input, textarea, button {
  color: #221924;
  font: 400 100%/1 "Sofia Pro", serif; }

a {
  color: #221924;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.headline.page-title h1 {
  font-size: 2.75em;
  line-height: 1.1666em; }
  @media screen and (min-width: 768px) {
    .headline.page-title h1 {
      font-size: 3.5em; } }
  @media screen and (min-width: 1024px) {
    .headline.page-title h1 {
      font-size: 4.625em; } }

.headline h3 {
  font-size: 1.5em;
  line-height: 1.1666em;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .headline h3 {
      font-size: 2em; } }
  @media screen and (min-width: 1024px) {
    .headline h3 {
      font-size: 2.5em; } }

.headline h4 {
  font-size: 1.125em;
  line-height: 1.1666em;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    .headline h4 {
      font-size: 1.25em; } }
  @media screen and (min-width: 1024px) {
    .headline h4 {
      font-size: 1.5em; } }

.section-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding-bottom: 40px;
  text-align: center; }
  @media screen and (min-width: 1024px) {
    .section-header {
      padding-bottom: 70px; } }
  .section-header h2 {
    width: 100%;
    font-weight: bold;
    font-size: 2em; }
    @media screen and (min-width: 768px) {
      .section-header h2 {
        font-size: 2.75em; } }
    @media screen and (min-width: 1024px) {
      .section-header h2 {
        font-size: 3.5em; } }
  .section-header h5 {
    width: 100%;
    padding-top: 25px;
    font-size: 1.125em;
    color: #5F5F5F; }

.cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .cta .btn {
    display: block;
    border-radius: 5px;
    padding: 15px 30px 12px 30px;
    font-weight: 500;
    letter-spacing: 0.02em; }
    .cta .btn-purple {
      background: #783883;
      color: #fff; }
    .cta .btn-white {
      background: #fff;
      color: #57095D; }

.copy.p2 p {
  font-size: 1.25em;
  line-height: 1.1666em; }
  @media screen and (min-width: 768px) {
    .copy.p2 p {
      font-size: 1.375em; } }
  @media screen and (min-width: 1024px) {
    .copy.p2 p {
      font-size: 1.5em; } }

.copy.p3 p {
  font-size: 1em;
  line-height: 1.5em; }
  @media screen and (min-width: 768px) {
    .copy.p3 p {
      font-size: 0.875em; } }
  @media screen and (min-width: 1024px) {
    .copy.p3 p {
      font-size: 1em; } }

@media screen and (min-width: 1024px) {
  .copy.p3-18 {
    font-size: 1.125em; } }

.copy.p4 p {
  font-size: 0.75em;
  line-height: 1.5em; }
  @media screen and (min-width: 768px) {
    .copy.p4 p {
      font-size: 0.8125em; } }

body {
  background: #fff; }

.wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 25px;
  -webkit-transition: padding 0.2s ease-in;
  -o-transition: padding 0.2s ease-in;
  transition: padding 0.2s ease-in; }
  @media screen and (min-width: 1250px) {
    .wrapper {
      padding: 0; } }

.cover {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

section.main {
  min-height: 70vh;
  padding: 75px 0 100px 0; }

.wayfair-profile {
  border: 1px solid #783883; }

.two-col-headline-copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .two-col-headline-copy .headline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .two-col-headline-copy .headline {
        width: calc(33.3333% - 20px); } }
    .two-col-headline-copy .headline h2 {
      font-weight: bold;
      font-size: 3em;
      line-height: 0.875em; }
      @media screen and (min-width: 768px) {
        .two-col-headline-copy .headline h2 {
          font-size: 4em; } }
      @media screen and (min-width: 1024px) {
        .two-col-headline-copy .headline h2 {
          font-size: 5.375em; } }
  .two-col-headline-copy .copy {
    width: 100%;
    margin-top: 20px;
    border-top: 3px solid #000;
    padding-top: 20px; }
    @media screen and (min-width: 768px) {
      .two-col-headline-copy .copy {
        width: calc(66.6666% - 20px);
        border-left: 3px solid #000;
        padding-left: 35px;
        margin-top: 0;
        border-top: none;
        padding-top: 0; } }
    .two-col-headline-copy .copy p {
      color: #8A8A8A; }

.three-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px 40px; }
  @media screen and (min-width: 568px) {
    .three-col {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    .three-col {
      grid-template-columns: 1fr 1fr 1fr; } }
  .three-col.centered-features {
    text-align: center; }
    .three-col.centered-features .photo img {
      width: 100%; }
    .three-col.centered-features .headline {
      padding: 30px 0 20px 0; }
    .three-col.centered-features .copy {
      padding: 0 10px; }
  .three-col-center {
    text-align: center; }
    .three-col-center .image, .three-col-center .photo, .three-col-center .icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }

.four-col {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 50px; }
  @media screen and (min-width: 568px) {
    .four-col {
      grid-template-columns: 1fr 1fr; } }
  @media screen and (min-width: 768px) {
    .four-col {
      grid-template-columns: 1fr 1fr 1fr 1fr; } }
  .four-col-center {
    text-align: center; }
    .four-col-center .image, .four-col-center .photo, .four-col-center .icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }

.two-col-info {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px 40px; }
  @media screen and (min-width: 568px) {
    .two-col-info {
      grid-template-columns: 1fr 1fr; } }
  .two-col-info .info {
    text-align: center; }
    .two-col-info .info .headline {
      padding: 30px 0 20px 0; }
    .two-col-info .info .copy {
      padding: 0 10px; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat; }

/* Icons */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none; }
  .slick-prev:hover, .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    outline: none;
    background: transparent;
    color: transparent; }
    .slick-prev:hover:before, .slick-prev:focus:before,
    .slick-next:hover:before,
    .slick-next:focus:before {
      opacity: 1; }
  .slick-prev.slick-disabled:before,
  .slick-next.slick-disabled:before {
    opacity: 0.25; }
  .slick-prev:before,
  .slick-next:before {
    font-family: "slick";
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.75;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

.slick-prev {
  left: -25px; }
  [dir="rtl"] .slick-prev {
    left: auto;
    right: -25px; }
  .slick-prev:before {
    content: "←"; }
    [dir="rtl"] .slick-prev:before {
      content: "→"; }

.slick-next {
  right: -25px; }
  [dir="rtl"] .slick-next {
    left: -25px;
    right: auto; }
  .slick-next:before {
    content: "→"; }
    [dir="rtl"] .slick-next:before {
      content: "←"; }

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px; }

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%; }
  .slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer; }
    .slick-dots li button {
      border: 0;
      background: transparent;
      display: block;
      height: 20px;
      width: 20px;
      outline: none;
      line-height: 0px;
      font-size: 0px;
      color: transparent;
      padding: 5px;
      cursor: pointer; }
      .slick-dots li button:hover, .slick-dots li button:focus {
        outline: none; }
        .slick-dots li button:hover:before, .slick-dots li button:focus:before {
          opacity: 1; }
      .slick-dots li button:before {
        position: absolute;
        top: 0;
        left: 0;
        content: "•";
        width: 20px;
        height: 20px;
        font-family: "slick";
        font-size: 32px;
        line-height: 20px;
        text-align: center;
        color: black;
        opacity: 0.25;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale; }
    .slick-dots li.slick-active button:before {
      color: black;
      opacity: 0.75; }

/*

    ----------------------------------------------------------------------
                                02 Sections
    ----------------------------------------------------------------------

*/
.site-header {
  padding: 10px 0;
  position: absolute;
  top: 0;
  z-index: 20;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    .site-header {
      padding: 0; } }
  .site-header .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .site-header .site-logo {
    width: 200px; }
  .site-header .desktop-nav {
    display: none; }
    @media screen and (min-width: 1024px) {
      .site-header .desktop-nav {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: auto;
        padding-right: 20px;
        padding-top: 20px; }
        .site-header .desktop-nav .menu {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
          .site-header .desktop-nav .menu > .menu-item {
            padding-bottom: 20px; }
            .site-header .desktop-nav .menu > .menu-item a {
              color: #fff;
              font-weight: bold;
              font-size: 1em;
              border-bottom: 4px solid transparent; }
              .site-header .desktop-nav .menu > .menu-item a:hover {
                border-bottom: 4px solid #fff; } }
        @media screen and (min-width: 1024px) and (min-width: 1280px) {
          .site-header .desktop-nav .menu > .menu-item a {
            font-size: 1.125em; } }
    @media screen and (min-width: 1024px) {
            .site-header .desktop-nav .menu > .menu-item + .menu-item {
              margin-left: 20px; } }
        @media screen and (min-width: 1024px) and (min-width: 1280px) {
          .site-header .desktop-nav .menu > .menu-item + .menu-item {
            margin-left: 25px; } }
    @media screen and (min-width: 1024px) {
          .site-header .desktop-nav .menu .sub-menu {
            display: none;
            position: absolute;
            z-index: -1; }
          .site-header .desktop-nav .menu > .menu-item-has-children.hover > a {
            border-bottom: 4px solid #fff; }
          .site-header .desktop-nav .menu > .menu-item-has-children.hover .sub-menu {
            display: block;
            z-index: 1000;
            background: #fff;
            -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
            padding: 20px;
            width: 245px;
            -webkit-transform: translateY(10px);
                -ms-transform: translateY(10px);
                    transform: translateY(10px); }
            .site-header .desktop-nav .menu > .menu-item-has-children.hover .sub-menu .menu-item + .menu-item {
              padding-top: 20px; }
            .site-header .desktop-nav .menu > .menu-item-has-children.hover .sub-menu .menu-item a {
              font-size: 1em;
              font-weight: bold;
              color: #000; }
              .site-header .desktop-nav .menu > .menu-item-has-children.hover .sub-menu .menu-item a:hover {
                color: #117372; }
        .site-header .desktop-nav .search-icon {
          padding-left: 20px;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          padding-bottom: 18px; } }
    @media screen and (min-width: 1024px) and (min-width: 1280px) {
      .site-header .desktop-nav .search-icon {
        padding-left: 25px; } }
    @media screen and (min-width: 1024px) {
          .site-header .desktop-nav .search-icon a {
            display: block; }
            .site-header .desktop-nav .search-icon a img {
              display: block;
              width: 100%;
              max-width: 24px; } }
    @media screen and (min-width: 1280px) {
      .site-header .desktop-nav {
        padding-right: 35px; } }
  .site-header .ctas {
    display: none; }
    @media screen and (min-width: 1024px) {
      .site-header .ctas {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
    .site-header .ctas .cta + .cta {
      padding-left: 15px; }
    @media screen and (min-width: 1024px) {
      .site-header .ctas .cta .btn {
        font-size: 0.875em; } }
    @media screen and (min-width: 1280px) {
      .site-header .ctas .cta .btn {
        font-size: 1em;
        padding: 15px 30px 12px 30px; } }
    .site-header .ctas .cta .btn-purple {
      background: #3E1946; }
  @media screen and (min-width: 1024px) {
    .site-header .hamburger {
      display: none; } }
  .site-header .hamburger .nav-trigger {
    display: block;
    width: 35px;
    cursor: pointer;
    padding: 8px 0;
    -webkit-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    -o-transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    transition: all 0.6s cubic-bezier(0.7, 0.01, 0.3, 1);
    z-index: 10001; }
    .site-header .hamburger .nav-trigger .patty {
      width: 35px;
      height: 3px;
      background: #fff;
      border-radius: 2px;
      -webkit-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
      margin-left: auto; }
      .site-header .hamburger .nav-trigger .patty:after, .site-header .hamburger .nav-trigger .patty:before {
        content: '';
        display: block;
        width: 35px;
        height: 3px;
        background: #fff;
        position: absolute;
        z-index: 1;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
        border-radius: 2px; }
      .site-header .hamburger .nav-trigger .patty:before {
        top: -8px; }
      .site-header .hamburger .nav-trigger .patty:after {
        top: 8px; }

@media screen and (min-width: 1024px) {
  body.sticky .site-header {
    position: fixed;
    background: #783883;
    z-index: 5000; } }

body.blog .nav-blog > a,
body.single-post .nav-blog > a,
body.category .nav-blog > a,
body.page-template-software .nav-teams > a,
body.page-template-data-science .nav-teams > a,
body.page-template-infrastructure-and-platforms .nav-teams > a,
body.page-template-tech-radar .nav-initiatives > a,
body.page-template-research .nav-initiatives > a,
body.page-template-open-source .nav-initiatives > a,
body.page-template-3d-university .nav-initiatives > a,
body.page-template-wayfair-next .nav-initiatives > a,
body.page-template-culture .nav-culture > a,
body.post-type-archive-events .nav-events > a,
body.post-type-archive-news .nav-news > a {
  border-bottom: 4px solid #fff !important; }

body.page-template-software .nav-software > a,
body.page-template-data-science .nav-data-science > a,
body.page-template-infrastructure-and-platforms .nav-infrastructure-platforms > a,
body.page-template-tech-radar .nav-tech-radar > a,
body.page-template-research .nav-wayfair-research > a,
body.page-template-open-source .nav-open-source > a,
body.page-template-3d-university .nav-3d-university > a,
body.page-template-wayfair-next .nav-wayfair-next > a {
  color: #117372 !important; }

.site-footer section.connect {
  padding: 40px 0;
  background: #3D1846;
  color: #fff; }
  .site-footer section.connect .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .site-footer section.connect .footer-logo {
    width: 100%; }
    @media screen and (min-width: 768px) {
      .site-footer section.connect .footer-logo {
        width: 40%; } }
    .site-footer section.connect .footer-logo a {
      display: block;
      max-width: 200px; }
      .site-footer section.connect .footer-logo a img {
        width: 100%; }
  .site-footer section.connect .ctas {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 25px;
    width: 100%; }
    @media screen and (min-width: 768px) {
      .site-footer section.connect .ctas {
        width: 60%;
        padding-top: 0;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    .site-footer section.connect .ctas .cta + .cta {
      padding-left: 20px; }
    .site-footer section.connect .ctas .cta .btn {
      background: #783883;
      font-size: 1em; }
      @media screen and (min-width: 1024px) {
        .site-footer section.connect .ctas .cta .btn {
          font-size: 1.25em; } }
      .site-footer section.connect .ctas .cta .btn:hover {
        background: #fff;
        color: #783883; }
  .site-footer section.connect .social {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    border-top: 1px solid #783883;
    padding-top: 25px;
    margin-top: 25px; }
    @media screen and (min-width: 768px) {
      .site-footer section.connect .social {
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; } }
    @media screen and (min-width: 768px) {
      .site-footer section.connect .social .headline {
        padding-right: 10px; }
        .site-footer section.connect .social .headline h3 {
          font-size: 1.875em; } }
    .site-footer section.connect .social .links {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .site-footer section.connect .social .links .link {
        max-width: 38px;
        margin-left: 10px; }
        .site-footer section.connect .social .links .link a {
          display: block; }
          .site-footer section.connect .social .links .link a img {
            width: 100%; }

.site-footer section.copyright {
  padding: 30px 0;
  background: #2C1233;
  color: #fff; }
  .site-footer section.copyright .copy {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

/*

    ----------------------------------------------------------------------
                               03 Partials
    ----------------------------------------------------------------------

*/
.mobile-nav {
  background: #783883;
  position: fixed;
  top: 0;
  width: 250px;
  height: 100vh;
  z-index: 1000;
  right: -250px;
  -webkit-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 250ms cubic-bezier(0.42, 0, 0.58, 1);
  padding: 30px 0; }
  .mobile-nav .scroll {
    overflow: scroll;
    height: 100vh; }
  .mobile-nav .mobile-nav-logo {
    padding: 0 25px 25px 25px; }
  .mobile-nav .menu .menu-item a {
    display: block;
    padding: 0 10px;
    color: #fff;
    font-size: 1.5em; }
    .mobile-nav .menu .menu-item a:hover {
      text-decoration: underline; }
  .mobile-nav .menu .menu-item-has-children .sub-menu {
    display: none; }
  .mobile-nav .menu .menu-item-has-children.subnav-toggle .sub-menu {
    display: block;
    padding-left: 20px;
    padding-top: 8px; }
    .mobile-nav .menu .menu-item-has-children.subnav-toggle .sub-menu .menu-item + .menu-item {
      padding-top: 8px; }
    .mobile-nav .menu .menu-item-has-children.subnav-toggle .sub-menu a {
      font-size: 1.125em; }
  .mobile-nav .menu > .menu-item {
    padding: 8px 0; }
  .mobile-nav .mobile-search {
    padding: 25px 10px 0 10px; }
    .mobile-nav .mobile-search .search-query {
      border: none;
      border-radius: 50px;
      font-size: 1.5em;
      line-height: 1.25em;
      padding: 10px;
      height: auto;
      max-width: 100%; }
      .mobile-nav .mobile-search .search-query:focus, .mobile-nav .mobile-search .search-query:active {
        outline: none; }
      .mobile-nav .mobile-search .search-query::-webkit-input-placeholder {
        color: #d9d9d9; }
      .mobile-nav .mobile-search .search-query::-moz-placeholder {
        color: #d9d9d9; }
      .mobile-nav .mobile-search .search-query:-moz-placeholder {
        color: #d9d9d9; }
      .mobile-nav .mobile-search .search-query:-ms-input-placeholder {
        color: #d9d9d9; }

body {
  background: #783883; }

#page {
  background: #fff; }

body.nav-overlay-open {
  overflow: hidden; }
  body.nav-overlay-open #page {
    left: -250px; }
  body.nav-overlay-open .site-header .hamburger .nav-trigger .patty {
    background: none; }
    body.nav-overlay-open .site-header .hamburger .nav-trigger .patty:before {
      top: 0;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg); }
    body.nav-overlay-open .site-header .hamburger .nav-trigger .patty:after {
      top: 0;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg); }
  body.nav-overlay-open .mobile-nav {
    right: 0; }

section.hero {
  position: relative; }
  section.hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%; }
  section.hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 768px) {
    section.hero {
      position: relative;
      max-height: 440px; }
      section.hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 37.5%; }
      section.hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  section.hero .photo {
    width: 100%;
    height: 100%; }
    section.hero .photo:before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: rgba(123, 14, 134, 0.5); }
    section.hero .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  section.hero .headline {
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    section.hero .headline .wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%; }
    section.hero .headline h1 {
      color: #fff;
      font-weight: bold; }
  section.hero .angle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20; }
    section.hero .angle img {
      width: 100%; }

body.home section.hero {
  position: relative; }
  body.home section.hero:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 125%; }
  body.home section.hero > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
  @media screen and (min-width: 568px) {
    body.home section.hero {
      position: relative; }
      body.home section.hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 75%; }
      body.home section.hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  @media screen and (min-width: 768px) {
    body.home section.hero {
      position: relative;
      max-height: 746px; }
      body.home section.hero:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 51.80556%; }
      body.home section.hero > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; } }
  body.home section.hero .wrapper {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  body.home section.hero .headline {
    text-align: center; }
    body.home section.hero .headline h1 {
      -webkit-transform: translateY(-10px);
          -ms-transform: translateY(-10px);
              transform: translateY(-10px); }

#bio-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1000;
  background: rgba(57, 24, 64, 0.9);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 25px; }
  #bio-overlay #bio-overlay-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    @media screen and (min-width: 768px) {
      #bio-overlay #bio-overlay-wrapper {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; } }
  #bio-overlay .bio-close {
    position: absolute;
    top: 0;
    right: 0; }
    #bio-overlay .bio-close img {
      width: 100%;
      max-width: 32px; }
      @media screen and (min-width: 768px) {
        #bio-overlay .bio-close img {
          max-width: 48px; } }
  #bio-overlay #profile {
    background: #fff;
    max-width: 320px;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px; }
    @media screen and (min-width: 568px) {
      #bio-overlay #profile {
        max-width: 600px; } }
    @media screen and (min-width: 768px) {
      #bio-overlay #profile {
        padding: 40px 50px; } }
    #bio-overlay #profile .photo {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #bio-overlay #profile .photo img {
        width: 100%;
        max-width: 185px;
        border-radius: 50%; }
        @media screen and (min-width: 768px) {
          #bio-overlay #profile .photo img {
            max-width: 350px; } }
    #bio-overlay #profile .info {
      padding-top: 35px; }
      #bio-overlay #profile .info .headline {
        text-align: center; }
        #bio-overlay #profile .info .headline h4 {
          color: #5F5F5F;
          font-weight: 400;
          padding-top: 10px; }
      #bio-overlay #profile .info .copy {
        padding-top: 40px; }
        #bio-overlay #profile .info .copy p {
          font-size: 0.9375em;
          line-height: 1.4444em;
          color: #5F5F5F; }
          @media screen and (min-width: 768px) {
            #bio-overlay #profile .info .copy p {
              font-size: 1.125em; } }

body.bio-open {
  overflow: hidden; }
  body.bio-open #bio-overlay {
    opacity: 1;
    z-index: 10000;
    overflow: scroll; }

#search-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1000;
  background: rgba(57, 24, 64, 0.9);
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  padding: 25px; }
  #search-overlay #search-overlay-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #search-overlay .search-close {
    position: absolute;
    top: 0;
    right: 0; }
    @media screen and (min-width: 1024px) {
      #search-overlay .search-close {
        top: 100px; } }
    #search-overlay .search-close a {
      display: block; }
      #search-overlay .search-close a img {
        width: 100%;
        max-width: 40px; }
  #search-overlay .headline {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-bottom: 20px; }
    #search-overlay .headline h3 {
      color: #fff;
      font-size: 5em; }
  #search-overlay .search-wrapper {
    width: 100%;
    max-width: 930px; }
  #search-overlay .search-query {
    height: 90px;
    background-color: #fff;
    border: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 100px;
    padding: 20px 40px;
    font-size: 1.875em;
    color: #221924;
    letter-spacing: 0;
    text-align: left;
    width: 100%; }
    #search-overlay .search-query::-webkit-input-placeholder {
      color: #8A8A8A; }
    #search-overlay .search-query::-moz-placeholder {
      color: #8A8A8A; }
    #search-overlay .search-query:-moz-placeholder {
      color: #8A8A8A; }
    #search-overlay .search-query:-ms-input-placeholder {
      color: #8A8A8A; }
    #search-overlay .search-query:active, #search-overlay .search-query:focus {
      outline: none; }

body.search-open {
  overflow: hidden; }
  body.search-open #search-overlay {
    opacity: 1;
    z-index: 10000; }

section.people {
  padding-top: 150px; }
  section.people .person .photo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    section.people .person .photo a {
      max-width: 250px;
      width: 100%;
      display: block; }
    section.people .person .photo img {
      width: 100%;
      border-radius: 50%;
      max-width: 250px; }
  section.people .person .info {
    padding-top: 30px; }
    section.people .person .info .headline h3 {
      font-size: 1.875em; }
    section.people .person .info .headline h4 {
      padding-top: 20px;
      font-weight: normal;
      font-size: 1.125em;
      color: #8A8A8A; }
    section.people .person .info .headline h5 {
      padding-top: 10px;
      font-size: 0.9375em;
      line-height: 1.25em;
      color: #5F5F5F; }
    section.people .person .info .copy.quote {
      padding-top: 20px;
      text-align: left; }
      section.people .person .info .copy.quote p {
        font-style: italic;
        color: #5F5F5F; }
  section.people .person .cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px; }
  section.people .slick-dots {
    bottom: -50px;
    z-index: 10; }

.tabs-container .tab-links {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .tabs-container .tab-links a {
    color: #8A8A8A;
    display: block;
    padding: 11px 12px 7px 12px;
    font-size: 0.9375em; }
    @media screen and (min-width: 768px) {
      .tabs-container .tab-links a {
        padding: 14px 15px 10px 15px;
        font-size: 1.125em; } }
    .tabs-container .tab-links a:hover {
      color: #57095D; }
    .tabs-container .tab-links a.active {
      background: #783883;
      color: #fff;
      border-radius: 5px; }
      .tabs-container .tab-links a.active:hover {
        background: #57095D;
        color: #fff; }
    .tabs-container .tab-links a + a {
      margin-left: 10px; }
      @media screen and (min-width: 768px) {
        .tabs-container .tab-links a + a {
          margin-left: 20px; } }

.tabs-container .tabs .tab {
  display: none; }
  .tabs-container .tabs .tab.active {
    display: block; }

/*

    ----------------------------------------------------------------------
                                04 Templates
    ----------------------------------------------------------------------

*/
body.home section.about {
  padding: 70px 0; }
  body.home section.about .wrapper {
    max-width: 990px; }

body.home section.teams .wrapper {
  padding: 0;
  max-width: 1440px; }

body.home section.teams .team .photo a {
  display: block; }
  body.home section.teams .team .photo a img {
    width: 100%; }

body.home section.teams .team .info {
  padding: 0 25px 40px 25px; }
  body.home section.teams .team .info .info-wrapper {
    max-width: 480px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.home section.teams .team .info .info-wrapper {
        max-width: 385px; } }
  body.home section.teams .team .info .headline {
    padding-bottom: 5px; }
  body.home section.teams .team .info .copy p {
    color: #5F5F5F; }

@media screen and (min-width: 768px) {
  body.home section.teams .team {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body.home section.teams .team:nth-child(odd) .photo {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    body.home section.teams .team:nth-child(odd) .info {
      padding: 0 25px;
      margin-right: auto; }
    body.home section.teams .team:nth-child(even) .info {
      padding-left: 25px; }
    body.home section.teams .team:nth-child(even) .photo {
      margin-left: auto; }
    body.home section.teams .team .photo,
    body.home section.teams .team .info {
      width: calc(50%);
      padding: 0; } }

body.home section.teams .team + .team {
  padding-top: 70px; }

body.home section.values {
  padding: 120px 0; }
  body.home section.values .value .info {
    padding-top: 30px; }
    body.home section.values .value .info .headline {
      padding-bottom: 25px; }
  body.home section.values .cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 50px; }
    body.home section.values .cta .btn {
      background: #783883; }

body.search section.results {
  min-height: 70vh;
  padding: 70px 0; }
  body.search section.results article {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.search section.results article + article {
      margin-top: 30px; }
    body.search section.results article:nth-child(even) {
      background-color: #fafafa; }
    body.search section.results article .photo {
      width: 25%; }
      body.search section.results article .photo a {
        display: block; }
        body.search section.results article .photo a img {
          width: auto !important;
          height: auto !important; }
    body.search section.results article .info {
      width: 75%;
      padding: 25px; }
      @media screen and (min-width: 768px) {
        body.search section.results article .info {
          padding: 50px; } }
      body.search section.results article .info .copy {
        padding-top: 20px; }
        body.search section.results article .info .copy p {
          color: #5F5F5F; }

body.search.search-no-results {
  height: 100vh; }
  body.search.search-no-results .site-header {
    background: #57095D; }

body.search section.no-results {
  background: #57095D url(images/not-found.jpg) no-repeat center top;
  background-size: cover;
  min-height: 50vh;
  padding: 150px 0; }
  @media screen and (min-width: 768px) {
    body.search section.no-results {
      min-height: 80vh;
      padding: 250px 0; } }
  body.search section.no-results .info {
    text-align: center; }
    body.search section.no-results .info .headline {
      padding-bottom: 10px; }
      body.search section.no-results .info .headline h1 {
        color: #fff;
        font-weight: 900;
        font-size: 4em; }
    body.search section.no-results .info .copy p {
      color: #fff;
      font-weight: 900;
      font-size: 1.25em;
      line-height: 1.25em; }
  body.search section.no-results .form {
    padding-top: 50px;
    max-width: 600px;
    width: 100%;
    margin: 0 auto; }
    body.search section.no-results .form .search-query {
      height: 90px;
      background-color: #fff;
      border: none;
      -webkit-box-shadow: none;
              box-shadow: none;
      border-radius: 100px;
      padding: 20px 40px;
      font-size: 1.875em;
      color: #221924;
      letter-spacing: 0;
      text-align: left;
      width: 100%; }
      body.search section.no-results .form .search-query::-webkit-input-placeholder {
        color: #8A8A8A; }
      body.search section.no-results .form .search-query::-moz-placeholder {
        color: #8A8A8A; }
      body.search section.no-results .form .search-query:-moz-placeholder {
        color: #8A8A8A; }
      body.search section.no-results .form .search-query:-ms-input-placeholder {
        color: #8A8A8A; }
      body.search section.no-results .form .search-query:active, body.search section.no-results .form .search-query:focus {
        outline: none; }

.posts article.blog {
  border: 1px solid #d9d9d9;
  border-bottom: 8px solid #3E1946; }
  @media screen and (min-width: 768px) {
    .posts article.blog:nth-of-type(4n + 4) {
      grid-column: 1 / span 3; }
      .posts article.blog:nth-of-type(4n + 4) a {
        display: grid;
        grid-template-columns: 2fr 1fr; } }
  .posts article.blog .photo {
    position: relative; }
    .posts article.blog .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 56.25%; }
    .posts article.blog .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    .posts article.blog .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .posts article.blog .info {
    padding: 40px 25px;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: auto; }
    .posts article.blog .info .headline h4 {
      font-size: 1.5em;
      font-weight: bold; }
      @media screen and (min-width: 1024px) {
        .posts article.blog .info .headline h4 {
          font-size: 1.875em; } }
    .posts article.blog .info .meta {
      padding: 25px 0; }
      .posts article.blog .info .meta h5 {
        font-weight: bold;
        color: #57095D;
        font-size: 1.125em;
        -webkit-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
        @media screen and (min-width: 1024px) {
          .posts article.blog .info .meta h5 {
            font-size: 1.25em; } }
    .posts article.blog .info .copy p {
      color: #8A8A8A;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  .posts article.blog > a {
    -webkit-transition: all 0.35s ease-in;
    -o-transition: all 0.35s ease-in;
    transition: all 0.35s ease-in;
    display: block;
    min-height: 100%; }
    .posts article.blog > a:hover {
      -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
              transform: scale(1.05);
      background: #3E1946;
      -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
              box-shadow: 0 0 12px rgba(0, 0, 0, 0.1); }
      .posts article.blog > a:hover .info * {
        color: #fff !important; }

.posts .alm-btn-wrap {
  padding: 50px 0 0 0; }
  .posts .alm-btn-wrap .alm-load-more-btn {
    display: inline-block;
    border-radius: 5px;
    padding: 15px 30px 12px 30px;
    font-weight: 500;
    letter-spacing: 0.02em;
    background: #783883;
    color: #fff;
    height: auto;
    line-height: 1em;
    font-size: 1.25em; }
    .posts .alm-btn-wrap .alm-load-more-btn:hover {
      background: #57095D; }
    .posts .alm-btn-wrap .alm-load-more-btn.done {
      background: #783883; }

body.blog .filters,
body.category .filters,
body.single-post .filters,
body.post-type-archive-news .filters,
body.tax-news_type .filters {
  padding-bottom: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%; }
  body.blog .filters .select-wrapper,
  body.category .filters .select-wrapper,
  body.single-post .filters .select-wrapper,
  body.post-type-archive-news .filters .select-wrapper,
  body.tax-news_type .filters .select-wrapper {
    width: 100%; }
    @media screen and (min-width: 568px) {
      body.blog .filters .select-wrapper,
      body.category .filters .select-wrapper,
      body.single-post .filters .select-wrapper,
      body.post-type-archive-news .filters .select-wrapper,
      body.tax-news_type .filters .select-wrapper {
        width: calc(50% - 20px); } }
    @media screen and (min-width: 768px) {
      body.blog .filters .select-wrapper,
      body.category .filters .select-wrapper,
      body.single-post .filters .select-wrapper,
      body.post-type-archive-news .filters .select-wrapper,
      body.tax-news_type .filters .select-wrapper {
        width: calc(33.3333% - 25px); } }
    body.blog .filters .select-wrapper:after,
    body.category .filters .select-wrapper:after,
    body.single-post .filters .select-wrapper:after,
    body.post-type-archive-news .filters .select-wrapper:after,
    body.tax-news_type .filters .select-wrapper:after {
      content: '▾';
      display: block;
      position: absolute;
      right: 20px;
      top: 25px;
      font-size: 0.75em;
      color: #8A8A8A;
      z-index: 0; }
  body.blog .filters select,
  body.category .filters select,
  body.single-post .filters select,
  body.post-type-archive-news .filters select,
  body.tax-news_type .filters select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    padding: 13px 20px 7px 20px;
    border: 1px solid #d5d5d5;
    background: transparent;
    border-radius: 6px;
    font-family: "Sofia Pro", serif;
    font-size: 1.25em;
    color: #8A8A8A;
    height: 60px;
    margin: 0;
    width: 100%;
    z-index: 2; }
    body.blog .filters select:focus, body.blog .filters select:active,
    body.category .filters select:focus,
    body.category .filters select:active,
    body.single-post .filters select:focus,
    body.single-post .filters select:active,
    body.post-type-archive-news .filters select:focus,
    body.post-type-archive-news .filters select:active,
    body.tax-news_type .filters select:focus,
    body.tax-news_type .filters select:active {
      outline: none; }

body.single-post section.main .wrapper {
  max-width: 790px; }

body.single-post section.article-header .headline h2 {
  font-size: 1.875em;
  line-height: 1.25em;
  font-weight: bold; }
  @media screen and (min-width: 768px) {
    body.single-post section.article-header .headline h2 {
      font-size: 2.5em; } }

body.single-post section.article-header .meta {
  padding: 25px 0; }
  body.single-post section.article-header .meta h5 {
    font-weight: bold;
    color: #57095D;
    font-size: 1.125em;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
    @media screen and (min-width: 1024px) {
      body.single-post section.article-header .meta h5 {
        font-size: 1.25em; } }

body.single-post section.article-header .featured-image img {
  width: 100%; }

body.single-post section.article-header .authors {
  padding-top: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  body.single-post section.article-header .authors .author {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 25px 25px 0; }
    body.single-post section.article-header .authors .author .photo {
      padding-right: 10px; }
      @media screen and (min-width: 768px) {
        body.single-post section.article-header .authors .author .photo {
          padding-right: 15px; } }
      body.single-post section.article-header .authors .author .photo img {
        max-width: 40px;
        border-radius: 50%; }
        @media screen and (min-width: 768px) {
          body.single-post section.article-header .authors .author .photo img {
            max-width: 70px; } }
    body.single-post section.article-header .authors .author .name h5 {
      color: #783883;
      font-size: 0.875em; }
      @media screen and (min-width: 768px) {
        body.single-post section.article-header .authors .author .name h5 {
          font-size: 1em; } }

body.single-post section.article-header .share {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body.single-post section.article-header .share span.label {
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #57095D;
    -webkit-transform: translateY(3px);
        -ms-transform: translateY(3px);
            transform: translateY(3px); }
  body.single-post section.article-header .share .link {
    padding-left: 5px; }
    body.single-post section.article-header .share .link a {
      width: 36px;
      height: 36px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      body.single-post section.article-header .share .link a img {
        width: 24px;
        height: 20px; }
    body.single-post section.article-header .share .link.twitter {
      -webkit-transform: translateY(1px);
          -ms-transform: translateY(1px);
              transform: translateY(1px); }
    body.single-post section.article-header .share .link.linkedin {
      -webkit-transform: translateY(-1px);
          -ms-transform: translateY(-1px);
              transform: translateY(-1px); }

body.single-post section.article-body {
  padding: 50px 0; }
  body.single-post section.article-body > * {
    margin-bottom: 25px; }
  body.single-post section.article-body h3 {
    font-weight: bold;
    font-size: 1.875em;
    margin-bottom: 15px;
    padding-top: 25px; }
  body.single-post section.article-body p {
    font-size: 1.125rem;
    line-height: 1.3888em;
    color: #5F5F5F; }
  body.single-post section.article-body a {
    color: #57095D;
    font-weight: bold; }
  body.single-post section.article-body strong {
    color: #221924; }
  body.single-post section.article-body ol:not(.EnlighterJS) {
    counter-reset: li; }
    body.single-post section.article-body ol:not(.EnlighterJS) li {
      counter-increment: li; }
      body.single-post section.article-body ol:not(.EnlighterJS) li:before {
        content: "." counter(li);
        color: #000;
        font-weight: bold;
        display: inline-block;
        width: 1.5em;
        margin-left: -1em;
        margin-right: 0.5em;
        text-align: right;
        direction: rtl; }
  body.single-post section.article-body ul:not(.EnlighterJS) li:before {
    content: "\2022";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #000;
    /* Change the color */
    font-weight: bold;
    /* If you want it to be bold */
    display: inline-block;
    /* Needed to add space between the bullet and the text */
    width: 1em;
    /* Also needed for space (tweak if needed) */
    margin-left: -1em;
    /* Also needed for space (tweak if needed) */ }
  body.single-post section.article-body ol:not(.EnlighterJS),
  body.single-post section.article-body ul:not(.EnlighterJS) {
    margin-left: 2rem; }
    body.single-post section.article-body ol:not(.EnlighterJS) li,
    body.single-post section.article-body ul:not(.EnlighterJS) li {
      font-size: 1.125rem;
      color: #8A8A8A; }
      body.single-post section.article-body ol:not(.EnlighterJS) li span,
      body.single-post section.article-body ul:not(.EnlighterJS) li span {
        color: #5F5F5F;
        font-size: 1.125em; }
  body.single-post section.article-body figure {
    width: 100% !important; }
  body.single-post section.article-body .wp-caption-text {
    color: #221924;
    line-height: 1.3888em;
    font-size: 0.875rem;
    font-weight: bold; }
  body.single-post section.article-body img {
    width: auto !important;
    height: auto !important; }
  body.single-post section.article-body .ql-img-inline-formula {
    display: inline;
    width: auto; }

body.single-post section.article-footer {
  border-top: 1px solid #8A8A8A;
  padding: 20px 0; }
  body.single-post section.article-footer .categories {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    body.single-post section.article-footer .categories a {
      background: #fff;
      border: 1px solid #D5D5D5;
      border-radius: 6px;
      padding: 15px 15px 12px 15px;
      text-align: center;
      font-size: 1em;
      color: #783883;
      margin-right: 3px;
      margin-bottom: 5px;
      display: inline-block; }
      @media screen and (min-width: 768px) {
        body.single-post section.article-footer .categories a {
          font-size: 1.25em; } }
      body.single-post section.article-footer .categories a:hover {
        background: #783883;
        color: #fff;
        border: 1px solid #783883; }

body.single-post section.comments-section {
  background: #F3F0F0;
  padding: 70px 0; }
  body.single-post section.comments-section .wrapper {
    max-width: 810px; }
  body.single-post section.comments-section .comment-form-url {
    display: none; }
  body.single-post section.comments-section .comment-reply-title,
  body.single-post section.comments-section #reply-title {
    font-size: 1.5em;
    line-height: 1.1666em;
    font-weight: bold;
    padding-bottom: 10px; }
    @media screen and (min-width: 768px) {
      body.single-post section.comments-section .comment-reply-title,
      body.single-post section.comments-section #reply-title {
        font-size: 2em; } }
    @media screen and (min-width: 1024px) {
      body.single-post section.comments-section .comment-reply-title,
      body.single-post section.comments-section #reply-title {
        font-size: 3em; } }
    body.single-post section.comments-section .comment-reply-title small,
    body.single-post section.comments-section #reply-title small {
      font-size: 0.4em; }
      body.single-post section.comments-section .comment-reply-title small a,
      body.single-post section.comments-section #reply-title small a {
        color: #783883;
        text-decoration: underline; }
  body.single-post section.comments-section .comment-reply-title {
    padding-bottom: 25px; }
  body.single-post section.comments-section .comments-inner .comment {
    background-color: #fff;
    color: #8A8A8A;
    border: 1px solid #d0d0d0;
    padding: 2.0rem;
    margin-bottom: 2.0rem; }
    body.single-post section.comments-section .comments-inner .comment a {
      color: #8A8A8A; }
    body.single-post section.comments-section .comments-inner .comment-meta b.fn {
      padding-left: 10px;
      color: #221924; }
    body.single-post section.comments-section .comments-inner .comment-metadata {
      padding-left: 50px;
      -webkit-transform: translateY(-14px);
          -ms-transform: translateY(-14px);
              transform: translateY(-14px); }
    body.single-post section.comments-section .comments-inner .comment-meta .says {
      display: none; }
    body.single-post section.comments-section .comments-inner .comment-author {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
    body.single-post section.comments-section .comments-inner .comment-content {
      padding-top: 10px; }
      body.single-post section.comments-section .comments-inner .comment-content p {
        line-height: 1.75em; }
        body.single-post section.comments-section .comments-inner .comment-content p + p {
          padding-top: 20px; }
    body.single-post section.comments-section .comments-inner .comment .reply {
      position: absolute;
      top: 0;
      right: 0; }
      body.single-post section.comments-section .comments-inner .comment .reply a {
        color: #221924; }
  body.single-post section.comments-section .comment-respond {
    padding-top: 25px; }
  body.single-post section.comments-section #commentform {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px; }
    body.single-post section.comments-section #commentform span.note,
    body.single-post section.comments-section #commentform .comment-form-comment,
    body.single-post section.comments-section #commentform .form-submit {
      grid-column: 1 / span 2; }
    body.single-post section.comments-section #commentform span.note {
      color: #8A8A8A;
      font-weight: 100; }
    body.single-post section.comments-section #commentform label {
      display: block;
      color: #5F5F5F;
      padding-bottom: 5px;
      font-size: 1.125rem; }
    body.single-post section.comments-section #commentform textarea,
    body.single-post section.comments-section #commentform input[type='text'],
    body.single-post section.comments-section #commentform input[type='email'] {
      width: 100%;
      color: #8A8A8A;
      padding: 13px 10px 10px 10px;
      border: 1px solid #cacaca;
      background-color: #fefefe;
      -webkit-box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
              box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1); }
      body.single-post section.comments-section #commentform textarea:focus, body.single-post section.comments-section #commentform textarea:active,
      body.single-post section.comments-section #commentform input[type='text']:focus,
      body.single-post section.comments-section #commentform input[type='text']:active,
      body.single-post section.comments-section #commentform input[type='email']:focus,
      body.single-post section.comments-section #commentform input[type='email']:active {
        outline: none; }
    body.single-post section.comments-section #commentform textarea {
      padding: 20px;
      min-height: 300px; }
    body.single-post section.comments-section #commentform input[type="submit"] {
      display: block;
      border-radius: 5px;
      padding: 15px 30px 12px 30px;
      font-weight: 500;
      font-size: 1.25rem;
      letter-spacing: 0.02em;
      background: #783883;
      color: #fff;
      border: none; }

body.page-template-team section.what-we-do .copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

body.page-template-team section.workstreams {
  margin: 75px 0;
  background: #fafafa; }
  @media screen and (min-width: 768px) {
    body.page-template-team section.workstreams {
      padding: 25px 0; } }
  body.page-template-team section.workstreams .slick-track {
    padding: 100px 0; }
  body.page-template-team section.workstreams .slick-dots {
    bottom: -25px; }
  body.page-template-team section.workstreams .workstream {
    margin: 0 50px;
    opacity: 0.5;
    -webkit-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
    -webkit-transform: scale(0.875);
        -ms-transform: scale(0.875);
            transform: scale(0.875); }
    body.page-template-team section.workstreams .workstream:focus, body.page-template-team section.workstreams .workstream:active {
      outline: none; }
    body.page-template-team section.workstreams .workstream .icon {
      max-width: 240px;
      margin: 0 auto; }
      body.page-template-team section.workstreams .workstream .icon img {
        width: 100%; }
    body.page-template-team section.workstreams .workstream .info {
      padding-top: 25px;
      text-align: center;
      max-width: 600px;
      margin: 0 auto; }
      body.page-template-team section.workstreams .workstream .info .headline {
        padding-bottom: 10px; }
      body.page-template-team section.workstreams .workstream .info .copy {
        opacity: 0;
        -webkit-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    body.page-template-team section.workstreams .workstream.slick-current {
      opacity: 1;
      width: 150%; }
      body.page-template-team section.workstreams .workstream.slick-current .copy {
        opacity: 1; }
    body.page-template-team section.workstreams .workstream.slick-center {
      -webkit-transform: scale(1.125);
          -ms-transform: scale(1.125);
              transform: scale(1.125); }
      body.page-template-team section.workstreams .workstream.slick-center .info .copy p {
        font-size: 1.25rem; }

body.page-template-team section.people .section-header {
  text-align: left; }

body.page-template-team section.tech-stack .wrapper {
  max-width: 800px; }

body.page-template-team section.tech-stack .section-header {
  text-align: left; }

body.page-template-team section.tech-stack .copy {
  text-align: left; }
  body.page-template-team section.tech-stack .copy p {
    color: #5F5F5F; }
    body.page-template-team section.tech-stack .copy p + p {
      padding-top: 25px; }
    body.page-template-team section.tech-stack .copy p a {
      color: #783883;
      font-weight: bold; }

body.page-template-team section.what-we-do + section.tech-stack {
  padding-top: 75px; }
  @media screen and (min-width: 768px) {
    body.page-template-team section.what-we-do + section.tech-stack {
      padding-top: 150px; } }

body.page-template-team section.blog {
  padding: 75px 0; }
  @media screen and (min-width: 768px) {
    body.page-template-team section.blog {
      padding: 150px 0; } }
  body.page-template-team section.blog .section-header {
    text-align: left; }

body.page-template-team section.join-us .two-col-headline-copy {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  @media screen and (min-width: 768px) {
    body.page-template-team section.join-us .two-col-headline-copy .headline {
      width: calc(40% - 10px); }
    body.page-template-team section.join-us .two-col-headline-copy .copy {
      width: calc(60% - 10px); } }
  @media screen and (min-width: 1024px) {
    body.page-template-team section.join-us .two-col-headline-copy .headline {
      width: auto;
      padding-right: 50px; }
    body.page-template-team section.join-us .two-col-headline-copy .copy {
      width: auto; } }

body.page-template-team section.join-us .headline h2 {
  font-size: 2em; }
  @media screen and (min-width: 768px) {
    body.page-template-team section.join-us .headline h2 {
      font-size: 2.5em; } }
  @media screen and (min-width: 1024px) {
    body.page-template-team section.join-us .headline h2 {
      font-size: 3.25em; } }
  @media screen and (min-width: 1280px) {
    body.page-template-team section.join-us .headline h2 {
      font-size: 4em; } }

body.page-template-team section.join-us .copy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  body.page-template-team section.join-us .copy .copy-wrapper {
    max-width: 480px; }
  body.page-template-team section.join-us .copy p {
    font-size: 1.125em; }

body.page-template-team section.join-us .cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-top: 50px; }

body.page-template-tech-radar section.radar a {
  display: block;
  position: relative; }
  body.page-template-tech-radar section.radar a:after {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute;
    color: #fff;
    font-size: 2em;
    font-weight: bold;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background: rgba(0, 0, 0, 0); }
  body.page-template-tech-radar section.radar a:hover:after {
    content: 'Click to View';
    background: rgba(120, 56, 132, 0.66); }

body.page-template-tech-radar section.radar-description {
  padding-top: 70px; }
  body.page-template-tech-radar section.radar-description .copy {
    color: #5F5F5F; }
    body.page-template-tech-radar section.radar-description .copy > * {
      margin-bottom: 25px; }
      body.page-template-tech-radar section.radar-description .copy > * + h3 {
        padding-top: 20px; }
    body.page-template-tech-radar section.radar-description .copy h3 {
      font-size: 1.5em;
      line-height: 1.1666em;
      font-weight: bold;
      color: #221924; }
      @media screen and (min-width: 768px) {
        body.page-template-tech-radar section.radar-description .copy h3 {
          font-size: 2em; } }
      @media screen and (min-width: 1024px) {
        body.page-template-tech-radar section.radar-description .copy h3 {
          font-size: 2.5em; } }

body.page-template-research section.what-we-do .section-header {
  padding-bottom: 30px; }

body.page-template-research section.what-we-do .deck {
  max-width: 880px;
  margin: 0 auto;
  text-align: center; }
  body.page-template-research section.what-we-do .deck p {
    color: #5F5F5F; }

body.page-template-research section.current-projects {
  padding: 90px 0 130px 0; }
  body.page-template-research section.current-projects .section-header {
    padding-bottom: 30px; }
  body.page-template-research section.current-projects .deck {
    max-width: 880px;
    margin: 0 auto;
    text-align: center; }
    body.page-template-research section.current-projects .deck p {
      color: #5F5F5F; }
  body.page-template-research section.current-projects .projects {
    padding-top: 50px; }
    body.page-template-research section.current-projects .projects .project {
      background: #783883;
      color: #fff;
      position: relative;
      border-radius: 50%;
      max-width: 300px;
      width: 100%;
      margin: 0 auto; }
      body.page-template-research section.current-projects .projects .project:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 100%; }
      body.page-template-research section.current-projects .projects .project > .content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0; }
      body.page-template-research section.current-projects .projects .project .project-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
                flex-wrap: wrap; }
      body.page-template-research section.current-projects .projects .project .headline {
        max-width: 300px;
        margin: 0 auto;
        padding: 20px 40px 0 40px; }
        @media screen and (min-width: 768px) {
          body.page-template-research section.current-projects .projects .project .headline {
            padding: 20px 25px 0 25px; } }

body.page-template-research section.funding .section-header {
  text-align: left;
  padding-bottom: 30px; }

body.page-template-research section.funding .tab-links {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 30px; }
  body.page-template-research section.funding .tab-links a {
    white-space: nowrap; }

@media screen and (min-width: 768px) {
  body.page-template-research section.funding .tab {
    min-height: 40vh; } }

body.page-template-research section.funding .tab > * {
  margin-bottom: 25px; }

body.page-template-research section.funding .tab p, body.page-template-research section.funding .tab li {
  font-size: 1.125em;
  line-height: 1.3888em;
  color: #5F5F5F; }

body.page-template-research section.funding .tab a {
  color: #57095D;
  font-weight: bold; }

body.page-template-research section.funding .tab ol {
  list-style-type: decimal; }

body.page-template-research section.funding .tab ul {
  list-style-type: disc; }

body.page-template-research section.funding .tab ol, body.page-template-research section.funding .tab ul {
  margin-left: 12.5px; }

body.page-template-research section.funding .inset {
  background: #FDF5FF;
  padding: 50px; }
  body.page-template-research section.funding .inset .copy {
    padding: 30px 0; }
    body.page-template-research section.funding .inset .copy p {
      color: #5F5F5F; }

body.page-template-open-source section.mission {
  text-align: center;
  padding-bottom: 70px; }
  @media screen and (min-width: 768px) {
    body.page-template-open-source section.mission {
      padding-bottom: 130px; } }
  body.page-template-open-source section.mission .wrapper {
    max-width: 880px; }

body.page-template-open-source section.open-source-projects {
  padding: 70px 0;
  background: #fafafa; }
  @media screen and (min-width: 768px) {
    body.page-template-open-source section.open-source-projects {
      padding: 130px 0; } }
  body.page-template-open-source section.open-source-projects .filters {
    padding-bottom: 70px; }
    @media screen and (min-width: 768px) {
      body.page-template-open-source section.open-source-projects .filters {
        padding-bottom: 130px; } }
    body.page-template-open-source section.open-source-projects .filters-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    body.page-template-open-source section.open-source-projects .filters a {
      color: #8A8A8A;
      display: block;
      padding: 11px 12px 7px 12px;
      font-size: 0.9375em;
      margin-bottom: 10px; }
      @media screen and (min-width: 768px) {
        body.page-template-open-source section.open-source-projects .filters a {
          padding: 14px 15px 10px 15px;
          font-size: 1.125em;
          margin-bottom: 0; } }
      body.page-template-open-source section.open-source-projects .filters a:hover {
        color: #57095D; }
      body.page-template-open-source section.open-source-projects .filters a.active {
        background: #783883;
        color: #fff;
        border-radius: 5px; }
        body.page-template-open-source section.open-source-projects .filters a.active:hover {
          background: #57095D;
          color: #fff; }
      body.page-template-open-source section.open-source-projects .filters a + a {
        margin-left: 10px; }
        @media screen and (min-width: 768px) {
          body.page-template-open-source section.open-source-projects .filters a + a {
            margin-left: 20px; } }
  body.page-template-open-source section.open-source-projects .three-col {
    grid-gap: 90px 50px; }
    @media screen and (min-width: 768px) {
      body.page-template-open-source section.open-source-projects .three-col {
        grid-gap: 130px 50px; } }
  body.page-template-open-source section.open-source-projects .projects .project {
    display: none;
    max-width: 320px;
    width: 100%;
    margin: 0 auto; }
    body.page-template-open-source section.open-source-projects .projects .project.active {
      display: block; }
    body.page-template-open-source section.open-source-projects .projects .project .icon {
      padding-bottom: 20px; }
    body.page-template-open-source section.open-source-projects .projects .project .copy {
      padding: 20px 0; }
      body.page-template-open-source section.open-source-projects .projects .project .copy p {
        color: #5F5F5F; }
    body.page-template-open-source section.open-source-projects .projects .project .link a {
      color: #783883;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      font-weight: bold;
      font-size: 1.125em; }
      body.page-template-open-source section.open-source-projects .projects .project .link a:after {
        display: block;
        content: '';
        width: 18px;
        height: 18px;
        background: url(images/external-link.png) no-repeat 0 0;
        margin-left: 10px; }

body.page-template-open-source section.blog {
  padding-top: 70px; }
  @media screen and (min-width: 768px) {
    body.page-template-open-source section.blog {
      padding-top: 130px; } }
  body.page-template-open-source section.blog .section-header {
    text-align: left; }
  body.page-template-open-source section.blog .cta {
    padding-top: 35px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }

body.page-template-3d-university section.about .section-header {
  text-align: left;
  padding-bottom: 30px; }

body.page-template-3d-university section.about .tab-links {
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-bottom: 30px; }
  body.page-template-3d-university section.about .tab-links a {
    white-space: nowrap; }

body.page-template-3d-university section.about .tab .copy {
  color: #5F5F5F; }

body.page-template-3d-university section.learn-more {
  padding: 90px 0 130px 0; }
  body.page-template-3d-university section.learn-more .section-header {
    padding-bottom: 30px;
    text-align: left; }
  body.page-template-3d-university section.learn-more .features .feature {
    background: #783883;
    color: #fff;
    position: relative;
    border-radius: 50%;
    max-width: 300px;
    width: 100%;
    margin: 0 auto; }
    body.page-template-3d-university section.learn-more .features .feature:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body.page-template-3d-university section.learn-more .features .feature > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    body.page-template-3d-university section.learn-more .features .feature .feature-wrapper {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-flex-wrap: wrap;
          -ms-flex-wrap: wrap;
              flex-wrap: wrap; }
    body.page-template-3d-university section.learn-more .features .feature .headline {
      max-width: 300px;
      margin: 0 auto;
      padding: 20px 40px 0 40px;
      text-align: center; }
      @media screen and (min-width: 768px) {
        body.page-template-3d-university section.learn-more .features .feature .headline {
          padding: 20px 25px 0 25px; } }

body.page-template-3d-university section.get-involved .section-header {
  text-align: left;
  padding-bottom: 30px; }

body.page-template-3d-university section.get-involved .copy p {
  color: #5F5F5F; }

body.page-template-3d-university section.get-involved .copy a {
  color: #783883;
  font-weight: bold; }
  body.page-template-3d-university section.get-involved .copy a:hover {
    text-decoration: underline; }

body.page-template-wayfair-next section.innovation .wrapper {
  padding: 0;
  max-width: 1440px; }

body.page-template-wayfair-next section.innovation .section-header {
  padding-bottom: 30px; }

body.page-template-wayfair-next section.innovation .deck {
  margin: 0 auto;
  max-width: 880px;
  padding-bottom: 70px;
  text-align: center; }
  body.page-template-wayfair-next section.innovation .deck p {
    color: #5F5F5F; }

body.page-template-wayfair-next section.innovation .feature .photo a {
  display: block; }
  body.page-template-wayfair-next section.innovation .feature .photo a img {
    width: 100%; }

body.page-template-wayfair-next section.innovation .feature .info {
  padding: 0 25px 40px 25px; }
  body.page-template-wayfair-next section.innovation .feature .info .info-wrapper {
    max-width: 480px;
    margin: 0 auto; }
    @media screen and (min-width: 768px) {
      body.page-template-wayfair-next section.innovation .feature .info .info-wrapper {
        max-width: 385px; } }
  body.page-template-wayfair-next section.innovation .feature .info .headline {
    padding-bottom: 5px; }
  body.page-template-wayfair-next section.innovation .feature .info .copy p {
    color: #5F5F5F; }

@media screen and (min-width: 768px) {
  body.page-template-wayfair-next section.innovation .feature {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    body.page-template-wayfair-next section.innovation .feature:nth-child(odd) .photo {
      -webkit-box-ordinal-group: 0;
      -webkit-order: -1;
          -ms-flex-order: -1;
              order: -1; }
    body.page-template-wayfair-next section.innovation .feature:nth-child(odd) .info {
      padding: 0 25px;
      margin-right: auto; }
    body.page-template-wayfair-next section.innovation .feature:nth-child(even) .info {
      padding-left: 25px; }
    body.page-template-wayfair-next section.innovation .feature:nth-child(even) .photo {
      margin-left: auto; }
    body.page-template-wayfair-next section.innovation .feature .photo,
    body.page-template-wayfair-next section.innovation .feature .info {
      width: calc(50%);
      padding: 0; } }

body.page-template-wayfair-next section.innovation .feature + .feature {
  padding-top: 70px; }

body.page-template-wayfair-next section.innovation .video {
  padding: 140px 20px 0 20px; }

body.page-template-culture section.values {
  padding: 0 0 100px 0; }
  body.page-template-culture section.values .value .info {
    padding-top: 30px; }
    body.page-template-culture section.values .value .info .headline {
      padding-bottom: 25px; }
  body.page-template-culture section.values + section.leaders {
    padding-top: 0; }

body.page-template-culture section.leaders {
  padding-bottom: 50px; }
  body.page-template-culture section.leaders .person {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
    body.page-template-culture section.leaders .person .info {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
          -ms-flex: 1;
              flex: 1;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding-left: 10px;
      padding-right: 10px; }
      @media screen and (min-width: 768px) {
        body.page-template-culture section.leaders .person .info {
          padding-left: 20px;
          padding-right: 20px; } }
      body.page-template-culture section.leaders .person .info .headline h4 {
        color: #221924; }
      body.page-template-culture section.leaders .person .info .copy.quote {
        margin-top: 0; }
    body.page-template-culture section.leaders .person .cta {
      margin-top: auto; }

body.post-type-archive-events .tabs-container {
  min-height: 60vh; }
  @media screen and (min-width: 768px) {
    body.post-type-archive-events .tabs-container {
      min-height: 100vh; } }
  body.post-type-archive-events .tabs-container .tab-links {
    padding-bottom: 50px; }
    @media screen and (min-width: 1024px) {
      body.post-type-archive-events .tabs-container .tab-links {
        padding-bottom: 100px; } }

body.post-type-archive-events .no-results p {
  font-weight: bold; }

body.post-type-archive-events article.event {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  body.post-type-archive-events article.event + article.event {
    margin-top: 35px; }
  body.post-type-archive-events article.event:nth-child(even) {
    background: #F2F0F0; }
  body.post-type-archive-events article.event .photo {
    position: relative;
    width: calc(33.3333% - 20px); }
    body.post-type-archive-events article.event .photo:before {
      display: block;
      content: "";
      width: 100%;
      padding-top: 100%; }
    body.post-type-archive-events article.event .photo > .content {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; }
    @media screen and (min-width: 768px) {
      body.post-type-archive-events article.event .photo {
        width: calc(25% - 20px);
        max-width: 200px; } }
    body.post-type-archive-events article.event .photo img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  body.post-type-archive-events article.event .info {
    width: calc(66.6666% - 20px);
    margin-right: auto;
    margin-left: 40px;
    padding: 15px 15px 15px 0; }
    @media screen and (min-width: 768px) {
      body.post-type-archive-events article.event .info {
        width: calc(75% - 20px); } }
    body.post-type-archive-events article.event .info .meta {
      padding-top: 10px; }
      body.post-type-archive-events article.event .info .meta h4 {
        color: #783883;
        font-weight: bold;
        font-size: 1em; }
        @media screen and (min-width: 768px) {
          body.post-type-archive-events article.event .info .meta h4 {
            font-size: 1.125em; } }

body.post-type-archive-events .alm-btn-wrap {
  padding: 50px 0 0 0; }
  body.post-type-archive-events .alm-btn-wrap .alm-load-more-btn {
    display: inline-block;
    border-radius: 5px;
    padding: 15px 30px 12px 30px;
    font-weight: 500;
    letter-spacing: 0.02em;
    background: #783883;
    color: #fff;
    height: auto;
    line-height: 1em;
    font-size: 1.25em; }
    body.post-type-archive-events .alm-btn-wrap .alm-load-more-btn:hover {
      background: #57095D; }
    body.post-type-archive-events .alm-btn-wrap .alm-load-more-btn.done {
      background: #783883; }

body.single-events section.main > .wrapper {
  max-width: 800px; }

body.single-events section.event-header {
  padding-bottom: 50px; }
  body.single-events section.event-header .headline {
    padding-bottom: 10px; }
    body.single-events section.event-header .headline h2 {
      font-weight: bold;
      font-size: 2em; }
      @media screen and (min-width: 1024px) {
        body.single-events section.event-header .headline h2 {
          font-size: 3em; } }
  body.single-events section.event-header .meta {
    padding-bottom: 20px; }
    body.single-events section.event-header .meta h4 {
      color: #783883;
      font-weight: bold;
      font-size: 1em; }
      @media screen and (min-width: 768px) {
        body.single-events section.event-header .meta h4 {
          font-size: 1.25em; } }

body.single-events section.event-body p + p {
  padding-top: 25px; }

body.single-events section.event-body .cta {
  padding-top: 50px; }

body.single-events section.event-footer {
  margin-top: 50px;
  border-top: 1px solid #d9d9d9;
  padding-top: 50px; }
  body.single-events section.event-footer .back .cta {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
