.mobile-nav {
	background: $light-purple;
	position: fixed;
	top: 0;
	width: 250px;
	height: 100vh;
	z-index: 1000;
	right: -250px;
	transition: all 250ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
	padding: 30px 0;

	.scroll {
		overflow: scroll;
		height: 100vh;
	}

	.mobile-nav-logo {
		padding: 0 25px 25px 25px;
	}

	.menu {
		.menu-item {
			a {
				display: block;
				padding: 0 10px;
				color: $white;
				font-size: 1.5em;

				&:hover {
					text-decoration: underline;
				}
			}

			&-has-children {
				.sub-menu {
					display: none;
				}

				&.subnav-toggle {
					.sub-menu {
						display: block;
						padding-left: 20px;
						padding-top: 8px;

						.menu-item {
							& + .menu-item {
								padding-top: 8px;
							}
						}

						a {
							font-size: 1.125em;
						}
					}
				}
			}
		}

		& > .menu-item {
			padding: 8px 0;
		}
	}

	.mobile-search {
		padding: 25px 10px 0 10px;

		.search-query {
			border: none;
			border-radius: 50px;
			font-size: 1.5em;
			line-height: 1.25em;
			padding: 10px;
			height: auto;
			max-width: 100%;

			&:focus,
			&:active {
				outline: none;
			}

			@include placeholder {
				color: $light-gray;
			}
		}
	}


}

body {
	background: $light-purple;
}
#page {
	background: $white;
}


body.nav-overlay-open {
	overflow: hidden;

	#page {
		left: -250px;
	}
	
	.site-header {
		.hamburger {

			.nav-trigger .patty {
				background: none;

				&:before {
				    top: 0;
				    transform: rotate(-45deg);
				}

				&:after {
				    top: 0;
				    transform: rotate(45deg);
				}
			}
		}
	}

	.mobile-nav {
		right: 0;
	}
}