#bio-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1000;
	background: rgba(57, 24, 64, 0.9);
	transition: all 0.2s ease-in;
	padding: 25px;

	#bio-overlay-wrapper {
		display: flex;
		width: 100%;
		height: 100vh;
		justify-content: center;

		@include tablet-portrait {
			align-items: center;
		}
	}

	.bio-close {
		position: absolute;
		top: 0;
		right: 0;

		img {
			width: 100%;
			max-width: 32px;

			@include tablet-portrait {
				max-width: 48px;
			}				
		}
	}

	#profile {
		background: $white;
		max-width: 320px;
		border-radius: 10px;
		padding: 20px;
		margin-bottom: 30px;

		@include mobile-landscape {
			max-width: 600px;
		}

		@include tablet-portrait {
			padding: 40px 50px;
		}

		.photo {
			display: flex;
			justify-content: center;

			img {
				width: 100%;
				max-width: 185px;
				border-radius: 50%;

				@include tablet-portrait {
					max-width: 350px;
				}
			}
		}

		.info {
			padding-top: 35px;

			.headline {
				text-align: center;

				h4 {
					color: $charcoal;
					font-weight: 400;
					padding-top: 10px;
				}
			}

			.copy {
				padding-top: 40px;

				p {
					font-size: 0.9375em;
					line-height: 1.4444em;
					color: $charcoal;

					@include tablet-portrait {
						font-size: 1.125em;
					}
				}
			}
		}
	}
}

body.bio-open {
	overflow: hidden;

	#bio-overlay {
		opacity: 1;
		z-index: 10000;
		overflow: scroll;
	}
}