section.hero {
	@include aspect-ratio(16, 9);

	@include tablet-portrait {
		@include aspect-ratio(16, 6);
		max-height: 440px;
	}
	
	.photo {
		width: 100%;
		height: 100%;

		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
			background: rgba(123, 14, 134, 0.5);
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.headline {
		position: absolute;
		z-index: 10;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		.wrapper {
			display: flex;
			align-items: center;
			height: 100%;
		}

		h1 {
			color: $white;
			font-weight: bold;
		}
	}

	.angle {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		z-index: 20;

		img {
			width: 100%;
		}
	}
}


body.home {
	section.hero {
		@include aspect-ratio(4, 5);

		@include mobile-landscape {
			@include aspect-ratio(4, 3);
		}

		@include tablet-portrait {
			@include aspect-ratio(1440, 746);
			max-height: 746px;
		}

		.wrapper {
			justify-content: center;
		}

		.headline {
			text-align: center;

			h1 {
				transform: translateY(-10px);
			}
		}
	}
}