section.people {
	padding-top: 150px;

	.person {
		.photo {
			display: flex;
			justify-content: center;

			a {
				max-width: 250px;
				width: 100%;
				display: block;
			}

			img {
				width: 100%;
				border-radius: 50%;
				max-width: 250px;
			}
		}

		.info {
			padding-top: 30px;

			.headline {
				h3 {
					font-size: 1.875em;
				}

				h4 {
					padding-top: 20px;
					font-weight: normal;
					font-size: 1.125em;
					color: $mid-gray;

				}

				h5 {
					padding-top: 10px;
					font-size: 0.9375em;
					line-height: 1.25em;
					color: $charcoal;
				}
			}

			.copy.quote {
				padding-top: 20px;
				text-align: left;

				p {
					font-style: italic;
					color: $charcoal;
				}
			}
		}

		.cta {
			display: flex;
			justify-content: center;
			padding-top: 30px;
		}
	}

	.slick-dots {
		bottom: -50px;
		z-index: 10;
	}
}