#search-overlay {
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	z-index: -1000;
	background: rgba(57, 24, 64, 0.9);
	transition: all 0.2s ease-in;
	padding: 25px;


	#search-overlay-wrapper {
		display: flex;
		width: 100%;
		height: 100vh;
		justify-content: center;
		align-items: center;
	}

	.search-close {
		position: absolute;
		top: 0;
		right: 0;

		@include tablet-landscape {
			top: 100px;
		}

		a {
			display: block;

			img {
				width: 100%;
				max-width: 40px;
			}
		}
	}

	.headline {
		display: flex;
		justify-content: center;
		padding-bottom: 20px;
		h3 {
			color: $white;
			font-size: 5em;
		}
	}

	.search-wrapper {
		width: 100%;
	    max-width: 930px;



	}

	.search-query {
		height: 90px;
	    background-color: #fff;
	    border: none;
	    box-shadow: none;
	    border-radius: 100px;
	    padding: 20px 40px;
	    font-size: 1.875em;
	    color: #221924;
	    letter-spacing: 0;
	    text-align: left;
	    width: 100%;


	    @include placeholder {
	    	color: $mid-gray;
	    }

	    &:active,
	    &:focus {
	    	outline: none;
	    }
	}




}

body.search-open {
	overflow: hidden;

	#search-overlay {
		opacity: 1;
		z-index: 10000;
	}
}
