.tabs-container {
	
	.tab-links {
		display: flex;
		align-items: center;
		justify-content: center;

		a {
			color: $mid-gray;
			display: block;
			padding: 11px 12px 7px 12px;
			font-size: 0.9375em;

			@include tablet-portrait {
				padding: 14px 15px 10px 15px;
				font-size: 1.125em;
			}

			&:hover {
				color: $purple;
			}

			&.active {
				background: $light-purple;
				color: $white;
				border-radius: 5px;

				&:hover {
					background: $purple;
					color: $white;
				}
			}

			& + a {
				margin-left: 10px;

				@include tablet-portrait {
					margin-left: 20px;
				}
			}
		}	
	}

	.tabs {

		.tab {
			display: none;


			&.active {
				display: block;
			}
		}
	}


}